<div id="main-container">
  <div class="card search-accident-container">
    <form [formGroup]="searchAccidentForm" #form="ngForm" (ngSubmit)="searchAccident(form)">
      <div class="form-sec1">

        <div class="form-control-group">
          <div class="label-with-data">
            <label for="accidentID">رقم بلاغ الحادث</label>
          </div>
          <input id="accidentID" type="text"
           name="accidentID" formControlName="accidentID" placeholder="قم بالبحث عن الحادث بادخال رقمه"/>
        </div>

        <div class="form-control-group">
          <label for="customerID">الزبون:</label>
          <div class="input" *ngIf="selectedCustomer">
            {{selectedCustomer.username}}
            <span (click)="cancelCustomerInput($event)">
              <fa-icon [icon]="cancelInput"></fa-icon>
            </span>
          </div>
          <div class="input-with-spinner">
            <input [ngClass]="{'hide': selectedCustomer}" id="customerID" type="text" (keyup)="searchCustomer($event)"
             list="customerList" name="customerID" formControlName="customerID" autocomplete="off"/>
            <span *ngIf="spinner.customer" class="spinner"></span>
          </div>
          <datalist id="customerList">
            <option *ngFor="let customer of customers;" [value]="customer.id">
                {{customer.username}}
            </option>
          </datalist>
        </div>

        <div class="form-control-group">
          <label for="agentID">الوكيل:</label>
          <div class="input" *ngIf="selectedAgent">
            {{selectedAgent.companyName}} / {{selectedAgent.username}}
            <span (click)="cancelAgentInput($event)">
              <fa-icon [icon]="cancelInput"></fa-icon>
            </span>
          </div>
          <div class="input-with-spinner">
            <input [ngClass]="{'hide': selectedAgent}" id="agentID" type="text" (keyup)="searchAgent($event)"
             list="agentList" name="agentID" formControlName="agentID" autocomplete="off"/>
            <span *ngIf="spinner.agent" class="spinner"></span>
          </div>
          <datalist id="agentList">
            <option *ngFor="let agent of agents;" [value]="agent.id">
              {{agent.companyName}} / {{agent.username}}
            </option>
          </datalist>
        </div>

      </div>


      <div class="form-sec2">

        <div class="btn-container">
          <button type="submit">
            <span>بحث</span>
          </button>
        </div>

      </div>
    </form>

  </div>

  <div class="page-content card dont-print">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-custom col-custom-1">رقم البلاغ</div>
        <div class="col-custom col-custom-2">رقم السيارة</div>
        <div class="col-custom col-custom-3">اسم صاحب السيارة</div>
        <div class="col-custom col-custom-4">اسم الوكيل</div>
        <div class="col-custom col-custom-5">تاريخ البلاغ</div>
        <div class="col-custom col-custom-6">التحكم</div>
      </li>
      <ng-template [ngIf]="accidents.length === 0">
        <li class="no-data" style="width: 100%;" *ngFor="let one of [1] | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems:0}">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="accidents.length > 0">
        <li *ngFor="let accident of accidents | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems: pagination.total};
         trackBy: trackById" class="table-row">
          <div class="col-custom col-custom-1" data-label="Car Accident Id">{{accident.id}}</div>
          <div class="col-custom col-custom-2" data-label="Car Number">{{accident.Car.carNumber}}</div>
          <div class="col-custom col-custom-3" data-label="Car Owner">{{accident.Customer.username}}</div>
          <div class="col-custom col-custom-4" data-label="Agent Name">{{ accident.Agent.username }}/{{ accident.Agent.companyName }}</div>
          <div class="col-custom col-custom-5" data-label="Car Accident Registration Date">{{ accident.registerAccidentDate | date: 'dd-MM-yyyy' }}</div>
          <div class="col-custom col-custom-6 control" data-label="Control">

            <button class="btn-primary" title="ملف الحادث" (click)="open(accident.id)">
              <fa-icon [icon]="openIcon"></fa-icon>
            </button>

            <!-- <button class="btn-primary" title="تعديل بيانات بلاع الحادث" (click)="goToAccidentEdit(accident.id)">
              <fa-icon [icon]="carEditIcon"></fa-icon>
            </button> -->

            <button class="btn-error" title="حذف بلاغ الحادث" (click)="deleteAccident(accident)">
              <fa-icon [icon]="trashIcon"></fa-icon>
            </button>

          </div>
        </li>
      </ng-template>
    </ul>
    <pagination-controls
      class="custom-pagination"
      (pageChange)="getPage($event)"
      [autoHide] = "true"
      previousLabel = ""
      nextLabel = ""
    ></pagination-controls>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>

</div>
