<div id="main-container">
  <div class="page-content card">
      <form [formGroup]="editCarTypeForm" #form="ngForm" (ngSubmit)="updateCarType()">
        <div class="form-sec1">
          <div class="form-control-group">
            <label for="name">نوع السيارة</label>
            <input id="name" type="text" name="name" formControlName="name" required/>

            <div *ngIf="(form.submitted || formCont('name')?.touched)
              && formCont('name')?.invalid" class="alert alert-danger">

              <div *ngIf="formCont('name').hasError('required')">
                نوع السيارة مطلوب تعبئته</div>
            </div>
          </div>
        </div>

        <div class="form-sec2">
        </div>

        <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
        <div class="success" *ngIf="successMsg">{{successMsg}}</div>
        <div class="btn-container">
          <button type="submit">
            <span>تحديث</span>
          </button>
        </div>
      </form>
  </div>
</div>
