<div id="main-container">
  <div class="page-header card">
    <p>اظهار جميع موديلات السيارات</p>
  </div>

  <div class="page-content card">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-custom col-custom-1">رقم النوع</div>
        <div class="col-custom col-custom-2">موديل السيارة</div>
        <div class="col-custom col-custom-3">نوع السيارة</div>
      </li>
      <ng-template [ngIf]="carModels.length === 0">
        <li class="no-data" style="width: 100%;">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="carModels.length > 0">
        <li *ngFor="let carModel of carModels | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems: pagination.total};
         trackBy: trackById" class="table-row">
          <div class="col-custom col-custom-1" data-label="Car Number">{{carModel.id}}</div>
          <div class="col-custom col-custom-2" data-label="Customer Name">{{carModel.name}}</div>
          <div class="col-custom col-custom-3" data-label="Car Type">{{ carModel.CarType?.name }}</div>
        </li>
      </ng-template>
    </ul>
    <pagination-controls
      class="custom-pagination"
      (pageChange)="getPage($event)"
      [autoHide] = "true"
      previousLabel = ""
      nextLabel = ""
    ></pagination-controls>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>

</div>
