<div id="main-container">
  <div class="page-header card">
    <p><span style="font-weight: 400;">{{selectedAgentName}}</span></p>
  </div>

  <div class="card add-user-container">
    <form [formGroup]="addCustomerToAgentForm" #form="ngForm" (ngSubmit)="addCustomerToAgent(form)">
      <div class="form-sec1">

        <div class="form-control-group">
          <div class="label-with-data">
            <label for="customerId">اضافة زبون الى الوكيل</label>
          </div>
          <div class="input" *ngIf="selectedCustomer">
            {{selectedCustomer.username}}
            <span (click)="cancelCustomerInput($event)">
              <i>
                <svg style="width: 0.8rem" role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                  <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                </svg>
              </i>
            </span>
          </div>
          <div class="input-with-spinner">
            <input [ngClass]="{'hide': selectedCustomer}" id="customerId" type="text"
            (keyup)="searchCustomer($event)" list="customerList" name="customerId"
            formControlName="customerId" placeholder="قم بالبحث عن الزبون بادخال اسمه"
            autocomplete="off" required/>
            <span *ngIf="spinnerCustomer" class="spinner"></span>
          </div>
          <datalist id="customerList">
            <option *ngFor="let customer of allCustomers;" [value]="customer.id">
               {{customer.username}}
            </option>
          </datalist>
        </div>

      </div>


      <div class="form-sec2">

        <div class="btn-container">
          <button type="submit">
            <span>اضافة</span>
          </button>
        </div>

      </div>

      <div *ngIf="(form.submitted || formCont('customerId')?.touched) &&
      formCont('customerId')?.invalid" class="alert alert-danger">

       <div *ngIf="formCont('customerId').hasError('required')">الزبون مطلوب تعبئته</div>
     </div>

      <div class="error" *ngIf="errorMsg || errorMsgForAddUser">{{errorMsg || errorMsgForAddUser}}</div>
      <div class="success" *ngIf="successMsg || successMsgForAddUser">{{successMsg || successMsgForAddUser}}</div>
    </form>

  </div>

  <div class="page-content card">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-custom col-custom-1">رقم الزبون</div>
        <div class="col-custom col-custom-2">اسم الزبون</div>
        <div class="col-custom col-custom-3">ارقم الهاتف</div>
        <div class="col-custom col-custom-4">العنوان</div>
        <div class="col-custom col-custom-5">التحكم</div>
      </li>
      <ng-template [ngIf]="customers.length === 0">
        <li class="no-data" style="width: 100%;"  *ngFor="let one of [1] | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems:0}">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="customers.length > 0">
        <li *ngFor="let customer of customers | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems: pagination.total};
         trackBy: trackById" class="table-row">
          <div class="col-custom col-custom-1" data-label="Id">{{customer.id}}</div>
          <div class="col-custom col-custom-2" data-label="Customer Name">{{customer.username}}</div>
          <div class="col-custom col-custom-3" data-label="Customer Jawwal">{{customer.jawwal1}}</div>
          <div class="col-custom col-custom-4" data-label="Customer Address and Region">{{customer.Region.name}} - {{customer.address}}</div>
          <div class="col-custom col-custom-5 control" data-label="Control">
            <button class="btn-error" title="ازالة الزبون من قائمة الوكيل" (click)="removeCustomerFromAgent(customer)">
              <svg role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                <path fill="currentColor" d="M624 208H432c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h192c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm-400 48c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path>
              </svg>
            </button>
            <button class="btn-primary" title="تعديل بيانات الزبون" (click)="goToUserEdit(customer.id)">
              <i>
                <svg style="width: 1.4rem;" role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                  <path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"></path>
                </svg>
              </i>
            </button>
          </div>
        </li>
      </ng-template>
    </ul>
    <pagination-controls
      class="custom-pagination"
      (pageChange)="getPage($event)"
      [autoHide] = "true"
      previousLabel = ""
      nextLabel = ""
    ></pagination-controls>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>
</div>
