<div class="card search-container" [@openClosed]="isOpen ? 'open': 'closed'">
  <a *ngIf="!isOpen" class="open-search clickable flexRight" (click)="showSearch()">
    فتح البحث
  </a>
  <form [@showHideForm]="isOpen ? 'show': 'hide'" [ngClass]="{'open': isOpen}"
   [formGroup]="searchEndorsementForm" #form="ngForm" (ngSubmit)="searchEndorsement(form)">
    <div class="form-sec1">

      <div class="form-control-group">
        <label for="endorsementId">رقم الملحق</label>
        <input id="endorsementId" type="text"
         name="endorsementId" formControlName="endorsementId"/>
      </div>

      <div class="form-control-group">
        <label for="endorsementType">نوع الملحق</label>
        <select id="endorsementType" formControlName="endorsementType">
          <option *ngFor="let endorsType of endorsementTypeArray; let i = index" [ngValue]="i">{{endorsType}}</option>
        </select>
      </div>

      <div class="form-control-group">
        <label for="insurancePolicyId">بوليصة التأمين</label>
        <input id="insurancePolicyId" type="text"
         name="insurancePolicyId" formControlName="insurancePolicyId"/>
      </div>

      <div class="form-control-group">
        <label for="customerId">الزبون:</label>
        <div class="input" *ngIf="internalSelectedCustomer">
          {{internalSelectedCustomer.username}}
          <span class="clickable" (click)="cancelCustomerInput($event)">
            <i>
              <svg style="width: 0.8rem" role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
              </svg>
            </i>
          </span>
        </div>
        <div class="input-with-spinner">
          <input [ngClass]="{'hide': internalSelectedCustomer}" id="customerId" type="text" (keyup)="searchCustomer($event)"
           list="customerList" name="customerId" formControlName="customerId" autocomplete="off"/>
          <span *ngIf="spinnerCustomer | async" class="spinner"></span>
        </div>
        <datalist id="customerList">
          <option *ngFor="let customer of customers;" [value]="customer.id">
              {{customer.username}}
          </option>
        </datalist>
      </div>

    </div>


    <div class="form-sec2">

      <div class="btn-container">
        <button type="submit">
          <span>بحث</span>
        </button>
      </div>

    </div>
  </form>
  <a *ngIf="isOpen" class="open-search clickable" (click)="showSearch()">
    اغلاق البحث
  </a>
</div>