@import 'shared';

:host {
  flex-grow: 1.56;
  width: min-content;
}
#main-container {
  padding: 5px 25px 25px 25px;
  background-color:#f3f3f3;
  min-height: max-content;

  .card{
    @include card;
  }

  div.btn-container{
    margin-top: 14px;
    margin-bottom: 14px;
    flex-basis: 100%;
    &.center{
      margin: auto;
      align-self: center;
      flex-basis: fit-content;
    }
    button{
      @include button-primary;
      width: fit-content;
      padding: 0 15px;
      &:disabled{
        @include button-primary-disabled;
        width: fit-content;
      }
      &.mg-top1rem{
        margin-top: 1rem;
      }
    }
  }

  .page-content{
    width: 100%;
    min-height: 80%;

    form {
      display: flex;
      flex-direction: row;
      justify-self: center;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      height: 100%;

      .form-sec0 {
        flex-basis: 100%;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid $mainBlueColor;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;

        &.custom-row{
          align-content: flex-start;
          align-items: flex-start;
        }

        > div.form-control-group {
          justify-content: flex-start;
          margin-left: 25px;

          .input-with-spinner{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            > input, select, textarea{
              flex-basis: 100%;
            }
          }
        }
      }
      .form-sec1 {
        flex-basis: 40%;
      }
      .form-sec2 {
        flex-basis: 55%;
      }

      div.form-control-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        margin-bottom: 15px;

        label{
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 10px;
        }

        .input-with-spinner{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          > input, select, textarea{
            flex-basis: 100%;
          }
        }
      }

      input, textarea, select, div.input{
        line-height: 22px;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        height: 100%;
        @include box-shadow(
        rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(60 66 87 / 16%) 0px 0px 0px 1px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px
        );
        &.hide{
          display: none;
        }
      }

      textarea {
        resize: vertical;
      }

      div.input {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        line-height: normal;
        padding: 5.3px 12px;

        i {
          vertical-align: sub;
          cursor: pointer;
        }
      }

      div.alert{
        margin: 10px 2px;
        font-size: 0.85rem;
      }

      div.alert-danger{
        color: $mainRedColor;
      }

      .ng-valid[required], .ng-valid.required  {
        border-left: 5px solid $mainGreenColor;
      }

      .ng-invalid:not(form)  {
        border-left: 5px solid $mainRedColor;
      }


      div.btn-container{
        margin-top: 14px;
        margin-bottom: 14px;
        flex-basis: 100%;
        &.center{
          margin: auto;
          align-self: center;
          flex-basis: fit-content;
        }
        button{
          @include button-primary;
          width: fit-content;
          padding: 0 15px;
          &:disabled{
            @include button-primary-disabled;
            width: fit-content;
          }
        }
      }
    }

    ul.responsive-table {
      margin:0;
      padding:0;

      li {
        border-radius: 3px;
        padding: 15px 15px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        &.no-data{
          width:100%;
          >p{
            font-size: 19px;
            font-weight: 700;
            text-align: center;
            width: 100%;
          }
        }
      }
      .table-header {
        background-color: $mainBlueColor;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        font-weight: bold;
        color: #fff;
      }
      .table-row {
        background-color: #ffffff;
        @include box-shadow(0px 0px 9px 0px rgba(0,0,0,0.1));
      }
      div[class*=col-custom-]{
        margin: auto;
        text-align: center;
      }
      .col-custom-1 {
        flex-basis: 9%;
      }
      .col-custom-2 {
        flex-basis: 21%;
      }
      .col-custom-3 {
        flex-basis: 15%;
      }
      .col-custom-4 {
        flex-basis: 13%;
      }
      .col-custom-5 {
        flex-basis: 15%;
      }
      .col-custom-6 {
        flex-basis: 27%;
        text-align: center;
        &.control{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;

          button{
            margin-left: 14px;
            margin-right: 14px;
            $btnWidth: 50px;

            i {
              cursor: pointer;
              // margin-left: 10px;
              font-size: 20px;
              margin: auto;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: space-evenly;
              justify-content: center;
              align-items: stretch;
              margin: 6px;
            }

            &.btn-error{
              @include button-error;
              width: $btnWidth;
              margin: 0;
            }

            &.btn-primary{
              @include button-primary;
              width: $btnWidth;
              margin: 0;
            }
          }
        }
      }

      @media all and (max-width: 767px) {
        .table-header {
          display: none;
        }
        // .table-row{

        // }
        li {
          display: block;
        }
        .col-custom {
          flex-basis: 100%;
        }
        .col-custom {
          display: flex;
          padding: 10px 0;
          &:before {
            color: #6C7A89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: right;
          }
        }
      }
    }

    div.error{
      @include messageBox($mainRedColor);
    }
    div.success{
      @include messageBox($mainGreenColor);
    }
  }

}
