<div id="main-container">
  <div class="page-header card">
    <p>{{pageTitle}}</p>
  </div>

  <div class="page-content card">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">رقم المستخدم</div>
        <div class="col col-2">اسم المستخدم</div>
        <div class="col col-3">اسم الشركة</div>
        <div *ngIf="!activeSuppliers && !activeAgentLimits" class="col col-4">النوع</div>
        <div *ngIf="activeSuppliers || activeAgentLimits" class="col col-4">تاريخ الانضمام</div>
        <div class="col col-5">التحكم</div>
      </li>
      <ng-template [ngIf]="users.length === 0">
        <li class="no-data" style="width: 100%;">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="users.length > 0">
        <li *ngFor="let user of users; trackBy: trackById" class="table-row">
          <div class="col col-1" data-label="Id">{{user.id}}</div>
          <div class="col col-2" data-label="Customer Name">{{user.username}}</div>
          <div class="col col-3" data-label="Customer Company">{{user.companyName}}</div>
          <div class="col col-4" data-label="Customer Role">{{ activeSuppliers || activeAgentLimits ? (user.createdAt | date) : rolesLang[user.Role.name] }}</div>
          <div class="col col-5 control" data-label="Control">

            <button class="btn-error" title="حذف المستخدم" (click)="deleteUser(user)">
              <fa-icon [icon]="trashIcon"></fa-icon>
            </button>

            <button class="btn-primary" title="تعديل بيانات المستخدم" (click)="goToUserEdit(user.id)">
              <fa-icon [icon]="userEditIcon"></fa-icon>
            </button>

            <ng-template [ngIf]="activeAgentLimits">
              <button class="btn-primary" title="اضافة سقف مالي للوكيل" (click)="goToAddAgentLimits(user)">
                <fa-icon [icon]="addAgentLimitIcon"></fa-icon>
              </button>

              <button class="btn-primary" title="اظهار جميع عمليات الوكيل" (click)="goToListAgentLimits(user)">
                <fa-icon [icon]="agentLimitsListIcon"></fa-icon>
              </button>

              <button class="btn-primary" title="زبائن الوكيل" (click)="goToListCustomers(user)">
                <fa-icon [icon]="customersIcon"></fa-icon>
              </button>

            </ng-template>

            <ng-template [ngIf]="activeSuppliers">
              <button class="btn-primary" title="اظهار قطع وخدمات المورد" (click)="goToSupplierPartsList(user)">
                <fa-icon [icon]="supplierPartsIcon"></fa-icon>
              </button>
            </ng-template>

          </div>
        </li>
      </ng-template>
    </ul>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>
  <!-- <div style="border-bottom: 1px solid gray; width:100%; height: 2px;"></div> -->

</div>
