<div id="main-container">
  <div class="page-header card">
    <p>اظهار جميع سيارات الزبائن</p>
  </div>

  <div class="card search-car-container">
    <form [formGroup]="searchCarForm" #form="ngForm" (ngSubmit)="searchCar(form)">
      <div class="form-sec1">

        <div class="form-control-group">
          <label for="carNumber">رقم لوحة السيارة</label>
          <input id="carNumber" type="text"
           name="carNumber" formControlName="carNumber" placeholder="قم بالبحث عن السيارة بادخال رقم اللوحة"/>
        </div>

        <div class="form-control-group">
          <label for="serialNumber">رقم الشصي </label>
          <input id="serialNumber" type="text"
           name="serialNumber" formControlName="serialNumber" placeholder="قم بالبحث عن السيارة بادخال رقم الشصي"/>
        </div>

        <div class="form-control-group">
          <label for="customerID">الزبون:</label>
          <div class="input" *ngIf="selectedCustomer">
            {{selectedCustomer.username}}
            <span (click)="cancelCustomerInput($event)">
              <fa-icon [icon]="cancelInput"></fa-icon>
            </span>
          </div>
          <div class="input-with-spinner">
            <input [ngClass]="{'hide': selectedCustomer}" id="customerID" type="text" (keyup)="searchCustomer($event)" list="customerList"
            name="customerID" formControlName="customerID"/>
            <span *ngIf="spinner.customer" class="spinner"></span>
          </div>
          <datalist id="customerList">
            <option *ngFor="let customer of customers;" [value]="customer.id">
                {{customer.username}}
            </option>
          </datalist>
        </div>

      </div>


      <div class="form-sec2">

        <div class="btn-container">
          <button type="submit">
            <span>بحث</span>
          </button>
        </div>

      </div>
    </form>

  </div>

  <div class="page-content card">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-custom col-custom-1">رقم السيارة</div>
        <div class="col-custom col-custom-2">اسم صاحب السيارة</div>
        <div class="col-custom col-custom-3">نوع/موديل السيارة</div>
        <div class="col-custom col-custom-4">تاريخ تسجيل السيارة</div>
        <div class="col-custom col-custom-5">التحكم</div>
      </li>
      <ng-template [ngIf]="cars.length === 0">
        <li class="no-data" style="width: 100%;">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="cars.length > 0">
        <li *ngFor="let car of cars  | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems: pagination.total};
        trackBy: trackById" class="table-row">
          <div class="col-custom col-custom-1" data-label="Car Number">{{car.carNumber}}</div>
          <div class="col-custom col-custom-2" data-label="Customer Name">{{car.User.username}}</div>
          <div class="col-custom col-custom-3" data-label="Car Type/Model">{{car.CarType.name}}/{{car.CarModel.name}}</div>
          <div class="col-custom col-custom-4" data-label="Car Registration Date">{{ car.createdAt | date: 'dd-MM-yyyy' }}</div>
          <div class="col-custom col-custom-5 control" data-label="Control">

            <button class="btn-error" title="حذف السيارة" (click)="deleteCar(car)">
              <fa-icon [icon]="trashIcon"></fa-icon>
            </button>

            <button class="btn-primary" title="تعديل بيانات السيارة" (click)="goToCarEdit(car.id)">
              <fa-icon [icon]="carEditIcon"></fa-icon>
            </button>

          </div>
        </li>
      </ng-template>
    </ul>
    <pagination-controls
      class="custom-pagination"
      (pageChange)="getPage($event)"
      [autoHide] = "true"
      previousLabel = ""
      nextLabel = ""
    ></pagination-controls>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>

</div>
