<div id="main-container">
  <div class="page-header card">
    <p>اضافة بلاغ عن حادث جديد</p>
  </div>

  <div class="page-content card">
    <form id="accident-form" [formGroup]="addAccidentForm" #form="ngForm" (ngSubmit)="addAccident(form)">
      <div class="form-sec0">

        <div class="form-control-group">
          <label for="customerId">الزبون:</label>
          <div class="input" *ngIf="selectedCustomer">
            {{selectedCustomer.username}}
            <span (click)="cancelCustomerInput($event)">
              <fa-icon [icon]="cancelInput"></fa-icon>
            </span>
          </div>
          <div class="input-with-spinner">
            <input [ngClass]="{'hide': selectedCustomer}" id="customerId" type="text"
            (keyup)="searchCustomer($event)" list="customerList" name="customerId"
            formControlName="customerId" (change)="fillFieldsByCustomer($event)" required/>
            <span *ngIf="spinner.customer" class="spinner"></span>
          </div>

          <datalist id="customerList">
            <option *ngFor="let customer of customers;" [value]="customer.id">
                {{customer.username}}
            </option>
          </datalist>

          <div *ngIf="(form.submitted || formCont('customerId')?.touched)
          && formCont('customerId')?.invalid" class="alert alert-danger">
            <div *ngIf="formCont('customerId').hasError('required')">الزبون مطلوب تعبئته</div>
          </div>
        </div>

        <div class="form-control-group">
          <label for="agentId">الوكيل:</label>
          <div class="input" *ngIf="selectedAgent">
            {{selectedAgent.companyName}}/{{selectedAgent.username}}
            <span (click)="cancelCustomerInput($event)">
              <fa-icon [icon]="cancelInput"></fa-icon>
            </span>
          </div>
          <div class="input-with-spinner">
            <input [ngClass]="{'hide': selectedAgent}" id="agentId" type="text"
            (keyup)="searchCustomer($event)" list="agentList" name="agentId" formControlName="agentId"
             required/>
            <span *ngIf="spinner.agent" class="spinner"></span>
          </div>
          <datalist id="agentList">
            <option *ngFor="let agent of agents;" [value]="agent.id">
              {{agent.companyName}}/{{agent.username}}
            </option>
          </datalist>

          <div *ngIf="(form.submitted || formCont('agentId')?.touched)
          && formCont('agentId')?.invalid" class="alert alert-danger">
            <div *ngIf="formCont('agentId').hasError('required')">الوكيل مطلوب تعبئته</div>
          </div>
        </div>

        <div class="form-control-group">
          <label for="carId">رقم السيارة :</label>
          <div class="input" *ngIf="selectedCar">
            {{selectedCar.carNumber}}
            <span (click)="cancelCarInput($event)">
              <fa-icon [icon]="cancelInput"></fa-icon>
            </span>
          </div>
          <div class="input-with-spinner">
            <input [ngClass]="{'hide': selectedCar}" id="carId" type="text" (keyup)="searchCar($event)"
            list="carList" name="carId" formControlName="carId" required/>
            <span *ngIf="spinner.car" class="spinner"></span>
          </div>
          <datalist id="carList">
            <option *ngFor="let car of cars;" [value]="car.id">
                {{car.carNumber}}
            </option>
          </datalist>

          <div *ngIf="(form.submitted || formCont('carId')?.touched) &&
            formCont('carId')?.invalid" class="alert alert-danger">
            <div *ngIf="formCont('carId').hasError('required')">رقم السيارة مطلوب تعبئته</div>
          </div>
        </div>

        <div class="form-control-group">
          <label for="carId">رقم بوليصة التأمين :</label>
          <div class="input" *ngIf="selectedInsurancePolicy">
            {{selectedInsurancePolicy.id}}
            <span (click)="cancelInsurancePolicyInput($event)">
              <fa-icon [icon]="cancelInput"></fa-icon>
            </span>
          </div>
          <div class="input-with-spinner">
            <input [ngClass]="{'hide': selectedInsurancePolicy || false}" id="insurancePolicyId" type="text"
             (change)="selectInsurancePolicy($event)" list="insurancePolicyList"
              name="insurancePolicyId" formControlName="insurancePolicyId" required/>
            <span *ngIf="spinner.insurancePolicy" class="spinner"></span>
          </div>
          <datalist id="insurancePolicyList">
            <option *ngFor="let insurancePolicy of insurancePolices;" [value]="insurancePolicy.id">
                {{insurancePolicy.id}}
            </option>
          </datalist>

          <div *ngIf="!insurancePolicyNotValidMsg && (form.submitted || formCont('insurancePolicyId')?.touched) &&
            formCont('insurancePolicyId')?.invalid" class="alert alert-danger">
            <div *ngIf="formCont('insurancePolicyId').hasError('required')">رقم البوليصة مطلوب تعبئته</div>
          </div>
          <div *ngIf="insurancePolicyNotValidMsg" class="alert alert-danger">
            <div>{{insurancePolicyNotValidMsg}}</div>
          </div>
        </div>

      </div>

      <div class="form-sec1">

        <div class="form-control-group">
          <label for="driverName">اسم السائق</label>
          <input id="driverName" type="text" name="driverName" formControlName="driverName"
          required/>

          <div *ngIf="(form.submitted || formCont('driverName')?.touched) &&
            formCont('driverName')?.invalid" class="alert alert-danger">

            <div *ngIf="formCont('driverName').hasError('required')">اسم السائق مطلوب تعبئته</div>
          </div>
        </div>

        <div class="form-control-group">
          <label for="driverIdentity">رقم هوية السائق</label>
          <input id="driverIdentity" type="text" name="driverIdentity"
            (keydown)="acceptNumbers($event)" formControlName="driverIdentity" required/>

          <div *ngIf="(form.submitted || formCont('driverIdentity')?.touched) &&
            formCont('driverIdentity')?.invalid" class="alert alert-danger">
            <div *ngIf="formCont('driverIdentity').hasError('minlength') || formCont('driverIdentity').hasError('maxlength')">
              رقم الهوية الشخصية مكون من ٩ أرقام.</div>
            <div *ngIf="formCont('driverIdentity').hasError('required')">
              رقم هوية السائق السائق مطلوب تعبئته</div>
          </div>
        </div>

        <div class="form-control-group">
          <label for="name">اسم الحادث</label>
          <input id="name" type="text" name="name" formControlName="name" required/>

          <div *ngIf="(form.submitted || formCont('name')?.touched)
            && formCont('name')?.invalid" class="alert alert-danger">

            <div *ngIf="formCont('name').hasError('required')">
              اسم الحادث مطلوب تعبئته</div>
          </div>
        </div>

        <div class="form-control-group">
          <label for="regionId">منطقة الحادث</label>
          <select id="regionId" formControlName="regionId">
            <ng-template [ngIf]="regions">
              <option value="">اختر المنطقة</option>
              <option *ngFor="let region of regions" [value]="region.id">{{ region.name }}</option>
            </ng-template>
          </select>

          <div *ngIf="(form.submitted || formCont('regionId')?.touched)
            && formCont('regionId')?.invalid" class="alert alert-danger">
            <div *ngIf="formCont('regionId').hasError('required')">منطقة الحادث مطلوب تعبئته</div>
          </div>
        </div>

        <div class="form-control-group">
          <label for="accidentPlace">مكان الحادث</label>
          <input id="accidentPlace" type="text" name="accidentPlace" formControlName="accidentPlace"
            required/>

          <div *ngIf="(form.submitted || formCont('accidentPlace')?.touched)
            && formCont('accidentPlace')?.invalid" class="alert alert-danger">

            <div *ngIf="formCont('accidentPlace').hasError('required')">
              مكان الحادث مطلوب تعبئته</div>
          </div>
        </div>

      </div>

      <div class="form-sec2">

        <div class="form-control-group">
          <label for="accidentDate">تاريخ الحادث</label>
          <input id="accidentDate" type="date" name="accidentDate"
          formControlName="accidentDate" min="{{ firstDayOfYear | date: 'yyyy-MM-dd'}}"
            max="{{ lastDayOfYear | date: 'yyyy-MM-dd'}}" required/>

          <div *ngIf="(form.submitted || formCont('accidentDate')?.touched)
            && formCont('accidentDate')?.invalid" class="alert alert-danger">

            <div *ngIf="formCont('accidentDate').hasError('required')">
              تاريخ الحادث مطلوب تعبئته</div>
          </div>
        </div>

        <div class="form-control-group">
          <label for="registerAccidentDate">تاريخ تسجيل الحادث</label>
          <input id="registerAccidentDate" type="date" name="registerAccidentDate"
            formControlName="registerAccidentDate" min="{{ firstDayOfYear | date: 'yyyy-MM-dd'}}"
            max="{{ lastDayOfYear | date: 'yyyy-MM-dd'}}" required/>

          <div *ngIf="(form.submitted || formCont('registerAccidentDate')?.touched)
            && formCont('registerAccidentDate')?.invalid" class="alert alert-danger">

            <div *ngIf="formCont('registerAccidentDate').hasError('required')">
              تاريخ تسجيل الحادث مطلوب تعبئته</div>
          </div>
        </div>

        <div class="form-control-group">
          <label for="expectedCost">التكلفة المتوقعة للحادث</label>
          <input id="expectedCost" type="text" name="expectedCost" formControlName="expectedCost"
          (keydown)="acceptNumbers($event)" required/>

          <div *ngIf="(form.submitted || formCont('expectedCost')?.touched)
            && formCont('expectedCost')?.invalid" class="alert alert-danger">

            <div *ngIf="formCont('expectedCost').hasError('required')">
              التكلفة المتوقعة للحادث مطلوب تعبئته</div>
          </div>
        </div>

        <div class="form-control-group">
          <label for="accidentDescription">تفاصيل الحادث</label>
          <textarea id="accidentDescription" formControlName="accidentDescription"></textarea>

          <div *ngIf="(form.submitted || formCont('accidentDescription')?.touched)
          && formCont('accidentDescription')?.invalid" class="alert alert-danger">
            <div *ngIf="formCont('accidentDescription').hasError('required')">تفاصيل الحادث مطلوب تعبئته</div>
          </div>
        </div>

        <div class="form-control-group">
          <label for="note">ملاحظات</label>
          <textarea id="note" formControlName="note" resizable="none"></textarea>
        </div>

      </div>

      <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
      <div class="success" *ngIf="successMsg">{{successMsg}}</div>
    </form>
  </div>

  <div class="page-content card">
    <form [formGroup]="addServiceAccidentForm" #formS="ngForm" (ngSubmit)="addServiceAccident(formS)">
      <div class="form-sec0 custom-row">

        <div class="form-control-group">
          <label for="serviceId">الخدمة:</label>
          <select id="serviceId" type="text" name="serviceId" formControlName="serviceId"
            (change)="selectAccidentService($event)">
            <ng-template [ngIf]="services">
              <option>اختر خدمة من القائمة</option>
              <ng-container *ngFor="let service of services">
                <option *ngIf="!service.propertiesUI!.hide"
                  [value]="service.id">
                    {{ service.name }}
                </option>
              </ng-container>
            </ng-template>
          </select>

          <div *ngIf="(formS.submitted || formContS('serviceId')?.touched)
           && formContS('serviceId')?.invalid" class="alert alert-danger">
            <div *ngIf="formContS('serviceId').hasError('required')">الخدمة مطلوب تعبئته</div>
          </div>
        </div>

        <!-- <div class="form-control-group">
          <label for="additionalDays">عدد ايام التغطية الاضافية:</label>
          <input type="text" id="additionalDays" name="additionalDays"   formControlName="additionalDays" (keydown)="acceptNumbers($event)"
            (keyup)="calculateTotalCost($event)" required/>

          <div *ngIf="(formS.submitted || formContS('additionalDays')?.touched)
            && formContS('additionalDays')?.invalid" class="alert alert-danger">
            <div *ngIf="formContS('additionalDays').hasError('required')">
              عدد الايام مطلوب تعبئته
            </div>
          </div>
        </div> -->

        <input class="hide" type="text" id="additionalDays" name="additionalDays" formControlName="additionalDays"
          (keydown)="acceptNumbers($event)" required/>

        <input class="hide" type="text" id="cost" name="cost" formControlName="cost"/>
        <input class="hide" type="number" id="supplierPercentage" name="supplierPercentage" formControlName="supplierPercentage"/>

        <!-- <div class="form-control-group">
          <label for="cost">التكلفة الأجمالية:</label>
          <input type="number" [value]="formContS('cost').value" disabled/>
          <input class="hide" type="text" id="cost" name="cost" formControlName="cost" required/>
        </div> -->

        <div class="form-control-group">
          <label for="supplierId">المورد:</label>
          <select id="supplierId" type="text" name="supplierId" formControlName="supplierId">
            <ng-template [ngIf]="services">
              <option>اختر مورد الخدمة من القائمة</option>
              <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{ supplier.companyName }}/{{ supplier.username }}</option>
            </ng-template>
          </select>

          <div *ngIf="(formS.submitted || formContS('additionalDays')?.touched)
           && formContS('additionalDays')?.invalid" class="alert alert-danger">
            <div *ngIf="formContS('additionalDays').hasError('required')">
              المورد مطلوب تعبئته
            </div>
          </div>
          <div *ngIf="suppliers.length === 0" class="alert alert-danger">
           <div>
              لاظهار الموردين، قم باضافة الزبون
          </div>
         </div>
        </div>

        <div class="btn-container center">
          <button class="mg-top39" type="submit" [disabled]="formS.invalid">
            <span><fa-icon [icon]="addServiceBtnIcon"></fa-icon></span>
          </button>
        </div>
      </div>
      <!-- <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
      <div class="success" *ngIf="successMsg">{{successMsg}}</div> -->

    </form>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-custom col-custom-1">رقم الخدمة</div>
        <div class="col-custom col-custom-2">الخدمة</div>
        <div class="col-custom col-custom-3">اجمالي التكلفة</div>
        <div class="col-custom col-custom-4">عدد ايام التغطية</div>
        <div class="col-custom col-custom-5">المورد</div>
        <div class="col-custom col-custom-6">التحكم</div>
      </li>
      <ng-template [ngIf]="servicesAccident.length === 0">
        <li class="no-data" style="width: 100%;">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="servicesAccident.length > 0">
        <li *ngFor="let serviceAccident of servicesAccident; let i = index; trackBy: trackByServiceId" class="table-row">
          <div class="col-custom col-custom-1" data-label="id">{{ i + 1 }}</div>
          <div class="col-custom col-custom-2" data-label="Customer Number">{{serviceText(serviceAccident.serviceId)}}</div>
          <div class="col-custom col-custom-3" data-label="Cost">{{serviceAccident.cost}} {{currency}}</div>
          <div class="col-custom col-custom-4" data-label="Total Coverage Days">{{ totalCoverageDays(serviceAccident.serviceId) }} {{days}}</div>
          <div class="col-custom col-custom-5" data-label="Car Registration Date Role">{{ supplierText(serviceAccident.supplierId) }}</div>
          <div class="col-custom col-custom-6 control" data-label="Control">
            <button class="btn-error" title="حذف الخدمة" (click)="deleteAccidentService(i)">
              <fa-icon [icon]="trashIcon"></fa-icon>
            </button>
          </div>
        </li>
      </ng-template>
    </ul>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>

  <div class="btn-container">
    <button type="submit" form="accident-form" [disabled]="form.invalid">
      <span>حفظ</span>
    </button>
  </div>
</div>
