@import 'shared';

.page-content{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 200px;
  height: 100px;
  padding: 5px 8px;
  border: none;
  background-color: $mainBlueColor;
  color: #fff;

  .counter{
    display: flex;
    flex-direction: column;
    p{
      text-align: right;
      color: #fff;
      font-weight: 600;
    }

    h4{
      padding: 0 8px;
      font-size: 2rem;
    }
  }
  .circle-icon{
    background-color: $goldColor;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    i {
      color: #fff;
      font-size: 1.8rem;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}
