<div id="search-container" class="card search-container" [@openClosed]="isOpen ? 'open': 'closed'">
  <a *ngIf="!isOpen" class="open-search clickable flexRight" (click)="showSearch()">
    فتح البحث
  </a>
  <form [@showHideForm]="isOpen ? 'show': 'hide'" [ngClass]="{'open': isOpen}"
    [formGroup]="searchAccountForm" #form="ngForm" (ngSubmit)="searchAccount(form)">
    <div class="form-sec1">

      <div class="form-control-group">
        <label for="accountId">رقم الحركة المالية</label>
        <input id="accountId" type="text"
         name="accountId" formControlName="accountId"/>
      </div>

      <div class="form-control-group">
        <label for="insurancePolicyId">رقم البوليصة</label>
        <input id="insurancePolicyId" type="text"
         name="insurancePolicyId" formControlName="insurancePolicyId"/>
      </div>

      <div class="form-control-group">
        <label for="agentID">الوكيل:</label>
        <div class="input" *ngIf="internalSelectedAgent">
          {{internalSelectedAgent.companyName}}
          <span (click)="cancelAgentInput($event)">
            <i>
              <svg style="width: 0.8rem" role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
              </svg>
            </i>
          </span>
        </div>
        <div class="input-with-spinner">
          <input [ngClass]="{'hide': internalSelectedAgent}" id="agentID" type="text"
          (keyup)="searchAgent($event)" list="agentsList" name="agentID"
          formControlName="agentID" (change)="fillFieldsByCustomer($event)" autocomplete="off"/>
          <span *ngIf="spinnerAgent | async" class="spinner"></span>
        </div>

        <datalist id="agentsList">
          <option *ngFor="let agent of agents;" [value]="agent.id">
              {{agent.companyName}}
          </option>
        </datalist>
      </div>

      <div class="form-control-group">
        <label for="supplierID">المورد:</label>
        <div class="input" *ngIf="internalSelectedSupplier">
          {{internalSelectedSupplier.companyName}}
          <span (click)="cancelSupplierInput($event)">
            <i>
              <svg style="width: 0.8rem" role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
              </svg>
            </i>
          </span>
        </div>
        <div class="input-with-spinner">
          <input [ngClass]="{'hide': internalSelectedSupplier}" id="supplierID" type="text" (keyup)="searchSupplier($event)"
           list="supplierList" name="supplierID" formControlName="supplierID" autocomplete="off"/>
          <span *ngIf="spinnerSupplier | async" class="spinner"></span>
        </div>
        <datalist id="supplierList">
          <option *ngFor="let supplier of suppliers;" [value]="supplier.id">
              {{supplier.companyName}}
          </option>
        </datalist>
      </div>

      <div class="form-control-group">
        <label for="startDate">من تاريخ</label>
        <input id="startDate" type="date" name="startDate" formControlName="startDate"/>
      </div>

      <div class="form-control-group">
        <label for="endDate">الى تاريخ</label>
        <input id="endDate" type="date" name="endDate" formControlName="endDate">
      </div>

    </div>


    <div class="form-sec2">

      <div class="btn-container">
        <button type="submit">
          <span>بحث</span>
        </button>
      </div>

    </div>
  </form>
  <a *ngIf="isOpen" class="open-search clickable" (click)="showSearch()">
    اغلاق البحث
  </a>
</div>