@import 'variables';

@mixin prefix($property, $prefixes, $value...) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value
}

@mixin box-shadow($value...) {
  @include prefix(box-shadow, moz webkit, $value);
}

@mixin card(){
  border-radius: 5px;
  // -webkit-box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
  // box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
  @include box-shadow(0 1px 20px 0 rgb(69 90 100 / 8%));
  border: none;
  margin-bottom: 30px;
  background: #fff;
  padding: 1rem 1.25rem 1.25rem 1.25rem;
}

%share-alert{
  color: #fff;
  padding: 9px;
  flex-basis: 80%;
  border-radius: 4px;
  font-size: 14px;
  margin: 5px 0;
}

%btn-primary{
  border: none;
  background-color: $mainBlueColor;
  @include box-shadow(
  rgb(0 0 0 / 0%) 0px 0px 0px 0px,
  rgb(0 0 0 / 0%) 0px 0px 0px 0px,
  rgb(0 0 0 / 12%) 0px 1px 1px 0px,
  rgb(0 102 204) 0px 0px 0px 1px,
  rgb(0 0 0 / 0%) 0px 0px 0px 0px,
  rgb(0 0 0 / 0%) 0px 0px 0px 0px,
  rgb(60 66 87 / 8%) 0px 2px 5px 0px
  );
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  line-height: 30px;
  width: 93px;
  font-size: 17px;
}

%btn-error{
  border: none;
  background-color: $mainRedColor;
  @include box-shadow(
  rgb(0 0 0 / 0%) 0px 0px 0px 0px,
  rgb(0 0 0 / 0%) 0px 0px 0px 0px,
  rgb(0 0 0 / 12%) 0px 1px 1px 0px,
  rgb(254 93 112) 0px 0px 0px 1px,
  rgb(0 0 0 / 0%) 0px 0px 0px 0px,
  rgb(0 0 0 / 0%) 0px 0px 0px 0px,
  rgb(60 66 87 / 8%) 0px 2px 5px 0px
  );
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  line-height: 30px;
  width: 93px;
  font-size: 17px;
}

%btn-primary-span{
  height: 100%;
  margin: auto;
  width: 100%;
  vertical-align: sub;
}

@mixin messageBox($color) {
  @extend %share-alert;
  background-color: $color;
}

@mixin button-primary(){
  @extend %btn-primary;
  span{
    @extend %btn-primary-span
  }
}

@mixin button-error(){
  @extend %btn-error;
  span{
    @extend %btn-primary-span
  }
}

