@import 'shared';
/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; padding: 0; margin: 0; direction: rtl; box-sizing: border-box;}
* {
  box-sizing: border-box;
  font-family: 'Tajawal', "Helvetica Neue", sans-serif;
}

.spinner{
  @include loader(30px, 30px, 5px);
  margin-right: 3px;
}

.modal{
  &.fade.show{
    z-index: 99999999999999999 !important;
  }
}

.clickable{
  cursor: pointer;
}

.insurance-policy-modal{
  -webkit-print-color-adjust: exact;
    .modal-content {
    button.close{
      @include button-primary;
      border-radius: 50%;
      width: 35px;
      height: 35px;
    }
    .modal-body{
      .card-body{
        padding: 0 !important;
      }
      .agent-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 1rem 1.25rem 1.25rem 1.25rem;
        .date-id{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;

          & > div {
            display: flex;
            flex-direction: row;
            label{
              font-size: 14px;
              font-weight: 700;
            }
            span{
              margin: 0 0.4rem;
            }
          }
        }
        .agent-section{
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          gap: 5px;

          & > div {
            display: flex;
            flex-direction: row;
            label{
              font-size: 14px;
              font-weight: 700;
            }
            span{
              margin: 0 0.4rem;
            }
          }
        }
      }
      .main-data-section{
        width: 100%;
        &.card{
          @include card;
        }
        .header-section{
          margin-bottom: 15px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          background-color: lightgray;
          padding: 10px 5px;
          border-radius: 2px;

          h1, h2, h3, h4, h5, h6{
            margin: 0;
          }
          h5{
            font-size: 17.5px;
          }

          .expire-date{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            column-gap: 5px;

            h6{
              font-weight: 600;
            }

            span{
              line-height: 1.2;
            }
          }
        }
        .accident-description{
          width: 100%;
          height: max-content;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: stretch;
          span{
            margin: 0.2rem 0.4rem;
            font-size: 15px;
          }
        }
        .data-section,
        .data-section-2 {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-bottom: 0.3%;
          height: auto;

          &.for-table{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: space-between;
            height: auto;
            font-size: 14.5px;

            tr.total-cost{
              th, td{
                padding: 0.5rem 0.5rem;
              }
            }
          }

          .each-data{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            flex-basis: 22%;

            label{
              font-size: 14px;
              font-weight: 700;
            }
            span{
              margin: 0.2rem 0.4rem;
              font-size: 14.5px;
            }
          }
        }

        .data-section-2{
          justify-content: flex-start;
          height: max-content;
          width: 100%;
          column-gap: 20%;
          row-gap: 21px;
        }
      }

      .condition{
        width:100%;
        font-weight: 600;
        font-size: 14.5px;
        margin:0;
        > li::marker {
          font-size: 1.5rem;
        }
      }
    }

    .modal-footer{
      justify-content: flex-start;
      .button-primary{
        @include button-primary;
        width: fit-content;
      }
    }
  }
}

@media print {
  .modal {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    visibility: visible;
    /**Remove scrollbar for printing.**/
    overflow: visible !important;
  }
  .modal-dialog {
    visibility: visible !important;
    /**Remove scrollbar for printing.**/
    overflow: visible !important;
  }

  table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after: always }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display: table-row-group; }
  tfoot { display: table-footer-group }

  .dont-print{
    display: none !important;
  }
}
