<div id="main-container">
  <div class="page-header card">
    <p>اظهار جميع موديلات السيارات</p>
  </div>

  <div class="page-content card">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-custom col-custom-1">رقم النوع</div>
        <div class="col-custom col-custom-2">موديل السيارة</div>
        <div class="col-custom col-custom-3">نوع السيارة</div>
        <div class="col-custom col-custom-4">التحكم</div>
      </li>
      <ng-template [ngIf]="carModels.length === 0">
        <li class="no-data" style="width: 100%;">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="carModels.length > 0">
        <li *ngFor="let carModel of carModels | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems: pagination.total};
          trackBy: trackById" class="table-row">
          <div class="col-custom col-custom-1" data-label="Car Number">{{carModel.id}}</div>
          <div class="col-custom col-custom-2" data-label="Customer Name">{{carModel.name}}</div>
          <div class="col-custom col-custom-3" data-label="Car Type">{{ carModel.CarType?.name }}</div>
          <div class="col-custom col-custom-4 control" data-label="Control">

            <button class="btn-error" title="حذف  موديل السيارة" (click)="deleteCarModel(carModel)">
              <fa-icon [icon]="trashIcon"></fa-icon>
            </button>

            <button class="btn-primary" title="تعديل بيانات نوع السيارة" (click)="goToCarModelEdit(carModel.id)">
              <fa-icon [icon]="carEditIcon"></fa-icon>
            </button>
<!--
            <ng-template [ngIf]="activeAgentLimits">
              <button class="btn-primary" title="اضافة سقف مالي للوكيل">
                <fa-icon [icon]="addAgentLimitIcon" (click)="goToAddAgentLimits(user)"></fa-icon>
              </button>

              <button class="btn-primary" title="اظهار جميع عمليات الوكيل">
                <fa-icon [icon]="agentLimitsListIcon" (click)="goToListAgentLimits(user)"></fa-icon>
              </button>

              <button class="btn-primary" title="زبائن الوكيل">
                <fa-icon [icon]="customersIcon" (click)="goToListCustomers(user)"></fa-icon>
              </button>

            </ng-template> -->

          </div>
        </li>
      </ng-template>
    </ul>
    <pagination-controls
    class="custom-pagination"
    (pageChange)="getPage($event)"
    [autoHide] = "true"
    previousLabel = ""
    nextLabel = ""
  ></pagination-controls>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>

</div>
