<div id="main-container">
  <div class="page-header card">
    <p>{{pageTitle}}</p>
  </div>

  <div class="page-content card">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">رقم المستخدم</div>
        <div class="col col-2">اسم المستخدم</div>
        <div class="col col-3">اسم الشركة</div>
        <div class="col col-4">النوع</div>
        <div class="col col-5">التحكم</div>
      </li>
      <ng-template [ngIf]="users.length === 0">
        <li class="no-data" style="width: 100%;">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="users.length > 0">
        <li *ngFor="let user of users; trackBy: trackById" class="table-row">
          <div class="col col-1" data-label="Id">{{user._id}}</div>
          <div class="col col-2" data-label="Customer Name">{{user.username}}</div>
          <div class="col col-3" data-label="Customer Nickname">{{user.nickname}}</div>
          <div class="col col-4" data-label="Customer Role">{{user.role}}</div>
          <div class="col col-5 control" data-label="Control">
          <fa-icon [icon]="trashIcon" style="color:#fe5d70" (click)="deleteUser(user)"></fa-icon>
          <fa-icon [icon]="userEditIcon" (click)="goToUserEdit(user._id)"></fa-icon>
          <fa-icon *ngIf="activeAgentLimits" [icon]="addAgentLimitIcon" (click)="goToAddAgentLimits(user._id)"></fa-icon>
        </div>
        </li>
      </ng-template>
    </ul>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>
  <!-- <div style="border-bottom: 1px solid gray; width:100%; height: 2px;"></div> -->

</div>
