<div id="main-container">
  <div class="page-header card">
    <p>اظهار جميع بوالص التأمين</p>
  </div>

  <div class="card search-insurance-policy-container dont-print">
    <form [formGroup]="searchInsurancePolicyForm" #form="ngForm" (ngSubmit)="searchInsurancePolicy(form)">
      <div class="form-sec1">

        <div class="form-control-group">
          <div class="label-with-data">
            <label for="insurancePolicyId">رقم بوليصة التأمين</label>
          </div>
          <input id="insurancePolicyId" type="text"
           name="insurancePolicyId" formControlName="insurancePolicyId" placeholder="قم بالبحث عن البوليصة بادخال رقمها"/>
        </div>

        <div class="form-control-group">
          <label for="customerID">الزبون:</label>
          <div class="input" *ngIf="selectedCustomer">
            {{selectedCustomer.username}}
            <span (click)="cancelCustomerInput($event)">
              <fa-icon [icon]="cancelInput"></fa-icon>
            </span>
          </div>
          <div class="input-with-spinner">
            <input [ngClass]="{'hide': selectedCustomer}" id="customerID" type="text" (keyup)="searchCustomer($event)" list="customerList"
            name="customerID" formControlName="customerID"/>
            <span *ngIf="spinner.customer" class="spinner"></span>
          </div>
          <datalist id="customerList">
            <option *ngFor="let customer of customers;" [value]="customer.id">
                {{customer.username}}
            </option>
          </datalist>
        </div>

        <div class="form-control-group">
          <label for="agentID">الوكيل:</label>
          <div class="input" *ngIf="selectedAgent">
            {{selectedAgent.companyName}} / {{selectedAgent.username}}
            <span (click)="cancelAgentInput($event)">
              <fa-icon [icon]="cancelInput"></fa-icon>
            </span>
          </div>
          <div class="input-with-spinner">
            <input [ngClass]="{'hide': selectedAgent}" id="agentID" type="text" (keyup)="searchAgent($event)" list="agentList"
            name="agentID" formControlName="agentID"/>
            <span *ngIf="spinner.agent" class="spinner"></span>
          </div>
          <datalist id="agentList">
            <option *ngFor="let agent of agents;" [value]="agent.id">
              {{agent.companyName}} / {{agent.username}}
            </option>
          </datalist>
        </div>

      </div>

      <div class="form-sec2">

        <div class="btn-container">
          <button type="submit">
            <span>بحث</span>
          </button>
        </div>

      </div>
    </form>

  </div>

  <div class="page-content card dont-print">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-custom col-custom-1">رقم البوليصة</div>
        <div class="col-custom col-custom-2">رقم السيارة</div>
        <div class="col-custom col-custom-3">اسم صاحب السيارة</div>
        <div class="col-custom col-custom-4">اسم الوكيل</div>
        <div class="col-custom col-custom-5">تاريخ انتهاء البوليصة</div>
        <div class="col-custom col-custom-6">التحكم</div>
      </li>
      <ng-template [ngIf]="insurancePolices.length === 0">
        <li class="no-data" style="width: 100%;"  *ngFor="let one of [1] | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems:0}">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="insurancePolices.length > 0">
        <li *ngFor="let insurancePolicy of insurancePolices | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems: pagination.total};
         trackBy: trackById" class="table-row">
          <div class="col-custom col-custom-1" data-label="Insurance Policy Id">{{insurancePolicy.id}}</div>
          <div class="col-custom col-custom-2" data-label="Customer Number">{{insurancePolicy.Car.carNumber}}</div>
          <div class="col-custom col-custom-3" data-label="Car Owner">{{insurancePolicy.Customer.username}}</div>
          <div class="col-custom col-custom-4" data-label="Agent Name">{{ insurancePolicy.Agent.username }}/{{ insurancePolicy.Agent.companyName }}</div>
          <div class="col-custom col-custom-5" data-label="Insurance Policy Expire Date">{{ (insurancePolicy.expireDate | date: 'dd-MM-yyyy') }}</div>
          <div class="col-custom col-custom-6 control" data-label="Control">
            <button class="btn-primary" title="ملف البوليصة" (click)="open(insurancePolicy.id)">
              <fa-icon [icon]="openIcon"></fa-icon>
            </button>

            <button class="btn-primary" title="تعديل بيانات بوليصة التأمين " (click)="goToInsurancePolicyEdit(insurancePolicy.id)">
              <fa-icon [icon]="carEditIcon"></fa-icon>
            </button>

            <button class="btn-error" title="حذف بوليصة التأمين" (click)="deleteInsurancePolicy(insurancePolicy)">
              <fa-icon [icon]="trashIcon"></fa-icon>
            </button>
          </div>
        </li>
      </ng-template>
    </ul>
    <pagination-controls
      class="custom-pagination"
      (pageChange)="getPage($event)"
      [autoHide] = "true"
      previousLabel = ""
      nextLabel = ""
    ></pagination-controls>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>

</div>
