<div id="main-container">
  <div class="page-header card">
    <p>اظهار جميع بوليصات التأمين</p>
  </div>

  <div class="page-content card">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">رقم البوليصة</div>
        <div class="col col-2">رقم السيارة</div>
        <div class="col col-3">اسم صاحب السيارة</div>
        <div class="col col-4">اسم الوكيل</div>
        <div class="col col-5">تاريخ البوليصة</div>
        <div class="col col-6">التحكم</div>
      </li>
      <ng-template [ngIf]="insurancePolices.length === 0">
        <li class="no-data" style="width: 100%;">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="insurancePolices.length > 0">
        <li *ngFor="let insurancePolicy of insurancePolices; trackBy: trackById" class="table-row">
          <div class="col col-1" data-label="Car Accident Id">{{insurancePolicy.id}}</div>
          <div class="col col-2" data-label="Customer Number">{{insurancePolicy.Car.carNumber}}</div>
          <div class="col col-3" data-label="Car Owner">{{insurancePolicy.Customer.username}}</div>
          <div class="col col-4" data-label="Car Registration Date Role">{{ insurancePolicy.Agent.username }}/{{ insurancePolicy.Agent.companyName }}</div>
          <div class="col col-5" data-label="Car Registration Date Role">{{ (insurancePolicy.createdAt | date) }}</div>
          <div class="col col-6 control" data-label="Control">

            <button class="btn-error" title="حذف بوليصة التأمين" (click)="deleteInsurancePolicy(insurancePolicy)">
              <fa-icon [icon]="trashIcon"></fa-icon>
            </button>

            <button class="btn-primary" title="تعديل بيانات بوليصة التأمين " (click)="goToInsurancePolicyEdit(insurancePolicy.id)">
              <fa-icon [icon]="carEditIcon"></fa-icon>
            </button>

          </div>
        </li>
      </ng-template>
    </ul>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>

</div>
