<div id="main-container">
  <div class="page-content card">
    <div class="counter">
      <p>الزبائن</p>
      <h4>{{customers}}</h4>
    </div>
    <div class="circle-icon">
      <fa-icon style="font-size: 1.65rem; height: 32px;" [icon]="customersIcon"></fa-icon>
    </div>
  </div>
  <div class="page-content card">
    <div class="counter">
      <p>بوالص التأمين</p>
      <h4>{{insurancePolicies}}</h4>
    </div>
    <div class="circle-icon" >
      <fa-icon style="height: 30px;font-size: 1.65rem;" [icon]="insurancePoliciesIcon"></fa-icon>
    </div>
  </div>
  <div class="page-content card">
    <div class="counter">
      <p>الحوادث</p>
      <h4>{{accidents}}</h4>
    </div>
    <div class="circle-icon">
      <fa-icon style="font-size: 1.65rem; height: 30px" [icon]="accidentIcon"></fa-icon>
    </div>
  </div>
</div>
