<div id="main-container">
  <div class="page-header card">
    <p>اضافة مستخدم جديد</p>
  </div>

  <div class="page-content card">
      <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
        <div class="form-sec1">
          <div class="form-control-group">
            <label for="username">اسم المستخدم</label>
            <input id="username" type="text" name="username" formControlName="username" required/>
          </div>
          <div class="form-control-group">
            <label for="nickname">اسم الشركة</label>
            <input id="nickname" type="text" name="nickname" formControlName="nickname" required/>
          </div>
          <div class="form-control-group" *ngIf="removePassword">
            <label for="password">كلمة المرور</label>
            <input id="password" type="password" name="password" formControlName="password" required/>
          </div>
          <div class="form-control-group" *ngIf="removePassword">
            <label for="confirmPassword">تأكيد كلمة المرور</label>
            <input id="confirmPassword" type="password" name="confirmPassword" formControlName="confirmPassword" required/>
          </div>
          <div class="form-control-group">
            <label for="role">نوع المستخدم</label>
            <select id="role" formControlName="role" (change)="changeForm($event.target)">
              <option value="">اختر حسب الصلاحيات</option>
              <option value="admin">ادمن</option>
              <option value="customer">زبون</option>
              <option value="agent">وكيل</option>
              <option value="supplier">مورد بضاعة</option>
            </select>
          </div>
        </div>

        <div class="form-sec2">
          <div class="form-control-group">
            <label for="phone">رقم الجوال</label>
            <input id="phone" type="number" name="phone" formControlName="phone"/>
          </div>
          <div class="form-control-group">
            <label for="tel">رقم الهاتف</label>
            <input id="tel" type="number" name="tel" formControlName="tel"/>
          </div>
          <div class="form-control-group">
            <label for="address">العنوان</label>
            <input id="address" type="text" name="address" formControlName="address"/>
          </div>
          <div class="form-control-group">
            <label for="note">ملاحظات</label>
            <textarea id="note" formControlName="note"></textarea>
          </div>
        </div>

        <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
        <div class="success" *ngIf="successMsg">{{successMsg}}</div>
        <div class="btn-container">
          <button type="submit">حفظ</button>
        </div>
      </form>
  </div>
</div>
