@import 'shared';

main {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(2 , 1fr);
  align-items: stretch;
  min-height: 100%;

  app-nav{
    grid-area: 1 / 1 / span 2 / span 6;
  }

  article {
    grid-area: 1 / 7 / span 2 / span 30;
    background-color: #f3f3f3;
    display: flex;
    flex-flow: column nowrap;
    align-self: stretch;

    section {
      flex: 1;
      position: relative;
      margin:0;
      padding:0;
    }
  }

  &.small{
    app-nav{
      grid-area: 1 / 1 / span 2 / span 3;
    }
    article{
      grid-area: 1 / 4 / span 2 / span 30;
    }
  }
}
