<div id="main-container">
  <div class="page-header card">
    <p>اضافة سقف مالي جديد</p>
  </div>

  <div class="page-content card">
      <form [formGroup]="addAgentLimitsForm" #form="ngForm" (ngSubmit)="addAgentLimit()">
        <div class="form-sec1">

          <div class="form-control-group">
            <label for="agentID">اسم الوكيل</label>
            <div class="input" *ngIf="selectedAgent || fullname">
              {{ fullname }}
              <span (click)="cancelAgentInput($event)">
                <fa-icon [icon]="cancelInput"></fa-icon>
              </span>
            </div>
            <div class="input-with-spinner">
              <input [ngClass]="{'hide': fullname}" id="agentID" type="text"
                (keyup)="searchAgent($event)" list="agentsList" name="agentID"
                formControlName="agentID" placeholder="قم بالبحث عن الوكيل بادخال اسمه"
                autocomplete="off" required/>
              <span *ngIf="spinnerAgent" class="spinner"></span>
            </div>
            <datalist id="agentsList">
              <option *ngFor="let agent of agents;" [value]="agent.id">
                {{agent.username}} || {{agent.companyName}}
              </option>
            </datalist>

            <div *ngIf="(form.submitted || formCont('agentID')?.touched) &&
            formCont('agentID')?.invalid" class="alert alert-danger">

             <div *ngIf="formCont('agentID').hasError('required')">رقم الوكيل مطلوب تعبئته</div>
           </div>
          </div>

          <div class="form-control-group">
            <label for="debit">المبلغ المالي</label>
            <input id="debit" type="text" name="debit"
            formControlName="debit" (keydown)="acceptNumbers($event)" required/>

            <div *ngIf="(form.submitted || formCont('debit')?.touched) &&
            formCont('debit')?.invalid" class="alert alert-danger">

             <div *ngIf="formCont('debit').hasError('required')">المبلغ المالي مطلوب تعبئته</div>
           </div>
          </div>

        </div>

        <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
        <div class="success" *ngIf="successMsg">{{successMsg}}</div>

        <div class="btn-container">
          <button type="submit" [disabled]="form.invalid">
            <span>حفظ</span>
          </button>
        </div>
      </form>
  </div>
</div>
