@import 'shared';

:host {
  flex-grow: 12.4;
  width: min-content;
}
#main-container {
  padding: 25px;
  background-color:#f3f3f3;
  height: 100%;

  .card{
   @include card;
  }

  .page-header{
    font-size: 17px;
    color: #000;
    width:100%;
    margin-bottom: 30px;
    text-align: right;
    font-weight: 700;

    p {
      margin:0;
    }
  }

  .page-content{
    width: 100%;
    min-height: 80%;

    form {
      display: flex;
      flex-direction: row;
      justify-self: center;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      height: 100%;

      .form-sec1,
      .form-sec2 {
        flex-basis: 40%;
      }
      .form-sec2 {
        flex-basis: 55%;
      }

      div.form-control-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        margin-bottom: 15px;

        .label-with-data{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: nowrap;
          > span {
            margin: 0 5px 10px 0;
          }
        }
        label{
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }

      input, textarea, select{
        line-height: 22px;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        @include box-shadow(
          rgb(0 0 0 / 0%) 0px 0px 0px 0px,
          rgb(0 0 0 / 0%) 0px 0px 0px 0px,
          rgb(0 0 0 / 0%) 0px 0px 0px 0px,
          rgb(60 66 87 / 16%) 0px 0px 0px 1px,
          rgb(0 0 0 / 0%) 0px 0px 0px 0px,
          rgb(0 0 0 / 0%) 0px 0px 0px 0px,
          rgb(0 0 0 / 0%) 0px 0px 0px 0px
        );
      }

      textarea {
        resize: vertical;
      }

      div.alert{
        margin: 10px 2px;
        font-size: 0.85rem;
      }

      div.alert-danger{
        color: $mainRedColor;
      }

      .ng-valid[required], .ng-valid.required  {
        border-left: 5px solid $mainGreenColor;
      }

      .ng-invalid:not(form)  {
        border-left: 5px solid $mainRedColor;
      }

      div.btn-container{
        margin-top: 14px;
        margin-bottom: 14px;
        flex-basis: 100%;

        button{
          @include button-primary;
        }
      }
    }

    .success{
      @include messageBox($mainGreenColor);
    }
    .error{
      @include messageBox($mainRedColor);
    }
  }

}
