<div id="main-container">
  <div class="page-content card">
    <form id="accident-form" [formGroup]="addEndorsementForm" #form="ngForm" (ngSubmit)="addEndorsement(form)">
      <div class="form-sec1">

        <div class="form-control-group">
          <label for="endorsementType">نوع الملحق</label>
          <select id="endorsementType" formControlName="endorsementType" placeholder="" required>
            <option [value]="null">اختر من القائمة</option>
            <option *ngFor="let endorsType of endorsementTypeArray; let i = index" [ngValue]="i">{{endorsType}}</option>
          </select>

          <div *ngIf="(form.submitted || formCont('endorsementType')?.touched) &&
          formCont('endorsementType')?.invalid" class="alert alert-danger">

           <div *ngIf="formCont('endorsementType').hasError('required')">نوع الملحق مطلوب تعبئته</div>
         </div>
        </div>

        <div class="form-control-group">
          <label for="customerId">الزبون:</label>
          <div class="input" *ngIf="selectedCustomer">
            {{selectedCustomer.username}}
            <span (click)="cancelCustomerInput($event)">
              <fa-icon [icon]="cancelInput"></fa-icon>
            </span>
          </div>
          <div class="input-with-spinner">
            <input [ngClass]="{'hide': selectedCustomer}" id="customerId" #customerId type="text" (keyup)="searchCustomer($event)" list="customerList"
            name="customerId" (change)="fillFieldsByCustomer($event)" autocomplete="off" required/>
            <span *ngIf="spinner.customer" class="spinner"></span>
          </div>
          <datalist id="customerList">
            <option *ngFor="let customer of customers;" [value]="customer.id">
                {{customer.username}}
            </option>
          </datalist>

          <div *ngIf="(form.submitted || formCont('customerId')?.touched)
          && formCont('customerId')?.invalid" class="alert alert-danger">
            <div *ngIf="formCont('customerId').hasError('required')">الزبون مطلوب تعبئته</div>
          </div>
        </div>

        <div class="form-control-group">
          <div class="label-with-data">
            <label for="agentId">الوكيل:</label>
          </div>
          <input type="text" [value]="selectedAgent?.companyName" disabled/>
          <input class="hide" type="agentId" id="agentId" #agentId name="agentId" required/>

           <div *ngIf="(form.submitted || formCont('agentId')?.touched)
           && formCont('agentId')?.invalid" class="alert alert-danger">
             <div *ngIf="formCont('agentId').hasError('required')">الوكيل مطلوب تعبئته</div>
           </div>
        </div>

        <div class="form-control-group">
          <label for="insurancePolicyId">رقم البوليصة:</label>
          <div class="input" *ngIf="selectedInsurancePolicy">
            {{selectedInsurancePolicy.id}}
            <span (click)="cancelInsurancePolicyInput($event)">
              <fa-icon [icon]="cancelInput"></fa-icon>
            </span>
          </div>
          <div class="input-with-spinner">
            <input [ngClass]="{'hide': selectedInsurancePolicy}" id="insurancePolicyId" type="text"
            (keyup)="selectInsurancePolicy($event)" list="insurancePolicyList" name="insurancePolicyId"
            formControlName="insurancePolicyId" autocomplete="off" required/>
            <span *ngIf="spinner.customer" class="spinner"></span>
          </div>
          <datalist id="insurancePolicyList">
            <option *ngFor="let insuPolicy of insurancePolicies;" [value]="insuPolicy.id">
                {{insuPolicy.id}}
            </option>
          </datalist>

          <div *ngIf="(form.submitted || formCont('insurancePolicyId')?.touched)
          && formCont('insurancePolicyId')?.invalid" class="alert alert-danger">
            <div *ngIf="formCont('insurancePolicyId').hasError('required')">رقم البوليصة مطلوب تعبئته</div>
          </div>
        </div>

      </div>

      <div class="form-sec2">


        <div class="form-control-group">
          <label for="carId">رقم السيارة :</label>
          <div class="input" *ngIf="selectedCar">
            {{selectedCar.carNumber}}
            <span (click)="cancelCarInput($event)">
              <fa-icon [icon]="cancelInput"></fa-icon>
            </span>
          </div>
          <div class="input-with-spinner">
            <input [ngClass]="{'hide': selectedCar}" id="carId" type="text" (keyup)="selectCar($event, form)"
            list="carList" name="carId" formControlName="carId" autocomplete="off" required/>
            <span *ngIf="spinner.car" class="spinner"></span>
          </div>
          <datalist id="carList">
            <option *ngFor="let car of cars;" [value]="car.id">
                {{car.carNumber}}
            </option>
          </datalist>

          <div *ngIf="(form.submitted || formCont('carId')?.touched) &&
            formCont('carId')?.invalid" class="alert alert-danger">

            <div *ngIf="formCont('carId').hasError('required')">رقم السيارة مطلوب تعبئته</div>
          </div>
        </div>

        <!-- <div class="form-control-group">
          <label for="expireDate">تاريخ انتهاء البوليصة</label>
          <input id="expireDate" type="date" name="expireDate" formControlName="expireDate"
           required/>

          <div *ngIf="(form.submitted || formCont('expireDate')?.touched) &&
            formCont('expireDate')?.invalid" class="alert alert-danger">

            <div *ngIf="formCont('expireDate').hasError('required')">تاريخ انتهاء البوليصة مطلوب تعبئته</div>
          </div>
        </div> -->

        <!-- <div class="form-control-group">
          <label for="totalPrice">تكلفة البوليصة</label>
          <input type="number" [value]="formCont('totalPrice').value" disabled/>
          <input class="hide" id="totalPrice" type="text" name="totalPrice" formControlName="totalPrice"
           required/>

          <div *ngIf="(form.submitted || formCont('totalPrice')?.touched) &&
            formCont('totalPrice')?.invalid" class="alert alert-danger">

            <div *ngIf="formCont('totalPrice').hasError('required')">تكلفة البوليصة مطلوب تعبئته</div>
          </div>
        </div> -->

        <div class="form-control-group">
          <label for="note">ملاحظات</label>
          <textarea id="note" formControlName="note" style="max-width:100%;width: auto;" resizable="none"></textarea>
        </div>

      </div>

      <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
      <div class="success" *ngIf="successMsg">{{successMsg}}</div>

    </form>
  </div>

  <div class="btn-container">
    <button type="submit" form="accident-form" [disabled]="form.invalid">
      <span>حفظ</span>
    </button>
  </div>
</div>
