<div id="main-container">
  <div class="page-header card">
    <p>اضافة مستخدم جديد</p>
  </div>

  <div class="page-content card">
      <form [formGroup]="addSupplierPartsForm" (ngSubmit)="addSupplierParts()">
        <div class="form-sec1">
          <div class="form-control-group">
            <label for="partNo">رقم القطعة</label>
            <input id="partNo" type="number" name="partNo" formControlName="partNo"/>
          </div>
          <div class="form-control-group">
            <label for="partName">اسم الشركة</label>
            <input id="partName" type="text" name="partName" formControlName="partName" required/>
          </div>
          <div class="form-control-group">
            <label for="quantity">العدد</label>
            <input id="quantity" type="number" name="quantity" formControlName="quantity" required/>
          </div>
          <div class="form-control-group">
            <label for="cost">السعر الكلي</label>
            <input id="cost" type="number" name="cost" formControlName="cost" required/>
          </div>
          <div class="form-control-group">
            <div class="label-with-data">
              <label for="supplierID">رقم حساب المورد لـ:</label>
              <span *ngIf="selectedSupplier">{{selectedSupplier?.username}} | {{selectedSupplier?.nickname}}</span>
            </div>
            <input id="supplierID" type="text" name="supplierID"
            (keyup)="searchSupplier($event)" list="suppliersList" formControlName="supplierID" required/>
            <datalist id="suppliersList">
                <option *ngFor="let supplier of suppliers; trackBy:trackById" [value]="supplier._id">{{supplier.username }} | {{supplier.nickname}}</option>
            </datalist>
          </div>
        </div>
        <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
        <div class="success" *ngIf="successMsg">{{successMsg}}</div>
        <div class="btn-container">
          <button type="submit">حفظ</button>
        </div>
      </form>
  </div>
</div>
