@import 'shared';

$dropDownWidth: 10rem;
$headerHeight: 3.5rem;
$headerLeftPosition: 1rem;

nav#header{
  z-index: 1098;
  background: #fff;
  color: $mainBlueColor;
  height: $headerHeight;
  @include box-shadow( 0 1px 5px rgb(0 0 0 / 27%));
  position: relative;

  .header-wrapper{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    .custom-dropdown-menu{
      position: absolute;
      top: $headerHeight;
      left: $headerLeftPosition;
      color: #fff;
      width: 0;
      background-color: $mainBlueColor;
      /* z-index: 9999999; */
      border-color: $mainBlueColor;
      border-style: solid;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-color: lightgray;
      border-width: 0;
      max-height: 0;
      overflow-y: hidden;
      @include prefix(transition, moz webkit o, max-height 0.3s ease-in-out);
      &.open {
        max-height: 5rem;
        width: $dropDownWidth;
        border-width: 1px;
      }

      > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li{
          padding: 10px;
          font-size: 14px;
          text-align: center;
          color: #fff;
        }
      }
    }

    .profile-section{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      align-items: center;
      cursor: pointer;

      height: 100%;
      width: $dropDownWidth;
      padding: 0.3rem 0.6rem;
      margin-left: $headerLeftPosition;

      &.open-profile{
        background-color: $mainBlueColor;
        color: #fff;
        p, i{
          color: #fff;
        }
      }
      img{
        border-radius: 20%;
        height: 40px;
        width: 40px;
        margin-left: 10px;
      }

      p{
        margin:0;
        padding:0;
        color: #000;
        &.username{
          font-size: .875em;
        }
      }

      i {
        color: #000;
        font-size: .875em;
        margin-right: -4%;
      }
    }
  }
}
