<div id="main-container" class="d-print-none">

  <app-search-endorsement
  (searchCustomerEvent)="searchCustomer($event)"
  [customers]="customers"
  (selectedCustomer)="getSelectedCustomer($event)"
  [spinnerCustomer]="spinnerCustomer$"

  (submittedSearch)="searchEndorsement($event)">
  </app-search-endorsement>

  <div class="page-content card dont-print">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-custom col-custom-1">الرقم</div>
        <div class="col-custom col-custom-2">رقم السيارة الجديدة</div>
        <div class="col-custom col-custom-3">رقم السيارة السابق</div>
        <div class="col-custom col-custom-4">الزبون</div>
        <div class="col-custom col-custom-5">نوع الملحق</div>
        <div class="col-custom col-custom-6">تاريخ الملحق</div>
        <div class="col-custom col-custom-7">رقم البوليصة</div>
      </li>
      <ng-template [ngIf]="endorsements.length === 0">
        <li class="no-data" style="width: 100%;"  *ngFor="let one of [1] | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems:0}">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="endorsements.length > 0">
        <li *ngFor="let endorsement of endorsements | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems: pagination.total};
         trackBy: trackById" class="table-row">
          <div class="col-custom col-custom-1 clickable underline-text" data-label="Endorsement Id" (click)="openEndorsement(endorsement)">{{endorsement.id}}</div>
          <div class="col-custom col-custom-2 clickable underline-text" data-label="Car Id" (click)="openCar(endorsement.Car, endorsement.InsurancePolicy.Customer)">{{endorsement.Car.carNumber}}</div>
          <div class="col-custom col-custom-3 clickable underline-text" data-label="Previous Car Id" (click)="openCar(endorsement.InsurancePolicy.Car, endorsement.InsurancePolicy.Customer)">{{endorsement.InsurancePolicy.Car.carNumber}}</div>
          <div class="col-custom col-custom-4" data-label="Customer Name">{{endorsement.InsurancePolicy.Customer.username}}</div>
          <div class="col-custom col-custom-5" data-label="Endorsement Type">{{endorsementTypeArray[endorsement.endorsementType]}}</div>
          <div class="col-custom col-custom-6" data-label="Date">{{ endorsement.createdAt| date: 'dd-MM-yyyy' }}</div>
          <div class="col-custom col-custom-7" [ngClass]="{'clickable underline-text': endorsement.insurancePolicyId}"
           data-label="Account Transaction Type" (click)="open(endorsement.insurancePolicyId!)">
            <ng-container *ngIf="endorsement.insurancePolicyId">
                {{ endorsement.insurancePolicyId }}
            </ng-container>
          </div>
        </li>
      </ng-template>
    </ul>
    <pagination-controls
      class="custom-pagination"
      (pageChange)="getPage($event)"
      [autoHide] = "true"
      previousLabel = ""
      nextLabel = ""
    ></pagination-controls>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>

</div>
