@import 'shared';

#main-container {
  padding: 5px 25px 25px 25px;
  background-color:#f3f3f3;
  min-height: max-content;

  @include pagination;

  .card{
    @include card;
  }

  .page-header{
    font-size: 17px;
    color: #000;
    width:100%;
    margin-bottom: 30px;
    text-align: right;
    font-weight: 700;

    p {
      margin:0;
    }
  }

  .page-content{
    width: 100%;
    min-height: 80%;

    ul.responsive-table {
      margin:0;
      padding:0;

      li {
        border-radius: 3px;
        padding: 15px 15px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        &.no-data{
          width:100%;
          >p{
            font-size: 19px;
            font-weight: 700;
            text-align: center;
            width: 100%;
          }
        }
      }
      .table-header {
        background-color: $mainBlueColor;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        font-weight: bold;
        color: #fff;
      }
      .table-row {
        background-color: #ffffff;
        @include box-shadow(0px 0px 9px 0px rgba(0,0,0,0.1));
      }
      div[class*=col-custom-]{
        margin: auto;
        text-align: center;
      }
      .col-custom-1 {
        flex-basis: 8%;
      }
      .col-custom-2 {
        flex-basis: 18%;
      }
      .col-custom-3 {
        flex-basis: 18%;
      }
      .col-custom-4 {
        flex-basis: 17%;
      }
      .col-custom-5 {
        flex-basis: 12%;
      }
      .col-custom-6 {
        flex-basis: 10%;
      }
      .col-custom-7 {
        flex-basis: 15%;
        text-align: center;
      }

      @media all and (max-width: 767px) {
        .table-header {
          display: none;
        }
        li {
          display: block;
        }
        .col-custom {
          flex-basis: 100%;
        }
        .col-custom {
          display: flex;
          padding: 10px 0;
          &:before {
            color: #6C7A89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: right;
          }
        }
      }
    }

    div.error{
      @include messageBox($mainRedColor);
    }
    div.success{
      @include messageBox($mainGreenColor);
    }
  }

}
