<div id="main-container">
  <div class="page-header card">
    <p>جميع الموردين</p>
  </div>

  <div class="page-content card">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-custom col-custom-1">اسم صاحب شركة التوريد</div>
        <div class="col-custom col-custom-2">اسم شركة التوريد</div>
        <div class="col-custom col-custom-3">رقم الجوال</div>
        <div class="col-custom col-custom-4">رقم الهاتف</div>
        <div class="col-custom col-custom-5">العنوان</div>
      </li>
      <ng-template [ngIf]="users.length === 0">
        <li class="no-data" style="width: 100%;">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="users.length > 0">
        <li *ngFor="let user of users | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems: pagination.total};
         trackBy: trackById" class="table-row">
          <div class="col-custom col-custom-1" data-label="Supplier Name">{{user.username}}</div>
          <div class="col-custom col-custom-2" data-label="Supplier Company">{{user.companyName}}</div>
          <div class="col-custom col-custom-3" data-label="Supplier Company">{{user.jawwal1}}</div>
          <div class="col-custom col-custom-4" data-label="Supplier Company">{{user.tel}}</div>
          <div class="col-custom col-custom-5" data-label="Supplier Address">{{user.Region.name}} - {{user.address}}</div>
          <!-- <div class="col-custom col-custom-4 control" data-label="Control">

            <button class="btn-primary" title="تعديل بيانات المستخدم" (click)="goToUserEdit(user.id)">
              <fa-icon [icon]="userEditIcon"></fa-icon>
            </button>

          </div> -->
        </li>
      </ng-template>
    </ul>
    <pagination-controls
      class="custom-pagination"
      (pageChange)="getPage($event)"
      [autoHide] = "true"
      previousLabel = ""
      nextLabel = ""
    ></pagination-controls>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>

</div>
