<div id="main-container">
  <div class="page-header card">
    <p>اظهار جميع الحركات المالية</p>
  </div>

  <div class="card search-accident-container">
    <form [formGroup]="searchAccountForm" #form="ngForm" (ngSubmit)="searchAccount(form)">
      <div class="form-sec1">

        <div class="form-control-group">
          <label for="accountId">رقم الحركة المالية</label>
          <input id="accountId" type="text"
           name="accountId" formControlName="accountId"/>
        </div>

        <div class="form-control-group">
          <label for="insurancePolicyId">رقم البوليصة</label>
          <input id="insurancePolicyId" type="text"
           name="insurancePolicyId" formControlName="insurancePolicyId"/>
        </div>

        <div class="form-control-group">
          <label for="customerID">الزبون:</label>
          <div class="input" *ngIf="selectedCustomer">
            {{selectedCustomer.username}}
            <span (click)="cancelCustomerInput($event)">
              <fa-icon [icon]="cancelInput"></fa-icon>
            </span>
          </div>
          <div class="input-with-spinner">
            <input [ngClass]="{'hide': selectedCustomer}" id="customerID" type="text" (keyup)="searchCustomer($event)" list="customerList"
            name="customerID" formControlName="customerID"/>
            <span *ngIf="spinner.customer" class="spinner"></span>
          </div>
          <datalist id="customerList">
            <option *ngFor="let customer of customers;" [value]="customer.id">
                {{customer.username}}
            </option>
          </datalist>
        </div>

        <div class="form-control-group">
          <label for="startDate">من تاريخ</label>
          <input id="startDate" type="date" name="startDate" formControlName="startDate"/>
        </div>

        <div class="form-control-group">
          <label for="endDate">الى تاريخ</label>
          <input id="endDate" type="date" name="endDate" formControlName="endDate">
        </div>

      </div>


      <div class="form-sec2">

        <div class="btn-container">
          <button type="submit">
            <span>بحث</span>
          </button>
        </div>

      </div>
    </form>

  </div>

  <div class="page-content card dont-print">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-custom col-custom-1">رقم الحركة</div>
        <div class="col-custom col-custom-2">المبلغ (له)</div>
        <div class="col-custom col-custom-3">المبلغ (عليه)</div>
        <div class="col-custom col-custom-4">تاريخ الحركة</div>
        <div class="col-custom col-custom-5">نوع الحركة</div>
      </li>
      <ng-template [ngIf]="accounts.length === 0">
        <li class="no-data" style="width: 100%;">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="accounts.length > 0">
        <li *ngFor="let account of accounts | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems: pagination.total};
         trackBy: trackById" class="table-row">
          <div class="col-custom col-custom-1" data-label="Account Id">{{account.id}}</div>
          <div class="col-custom col-custom-2" data-label="Debit">{{account.debit || 0}}</div>
          <div class="col-custom col-custom-3" data-label="Credit">{{account.credit || 0}}</div>
          <div class="col-custom col-custom-4" data-label="Date">{{ account.createdAt| date: 'dd-MM-yyyy' }}</div>
          <div class="col-custom col-custom-5" [ngClass]="{'clickable': account.insurancePolicyId}" data-label="Account Transaction Type">
            <ng-container *ngIf="account.insurancePolicyId">
              بوليصة تأمين
              <p style="text-decoration: underline;" (click)="open(insurancePolicyModal, account.insurancePolicyId)">
                 رقم: {{ account.insurancePolicyId }}
              </p>
            </ng-container>
            <ng-container *ngIf="account.agentId">
             سقف مالي
            </ng-container>
          </div>
        </li>
      </ng-template>
    </ul>
    <pagination-controls
      class="custom-pagination"
      (pageChange)="getPage($event)"
      [autoHide] = "true"
      previousLabel = ""
      nextLabel = ""
    ></pagination-controls>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>

</div>

<ng-template #insurancePolicyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">بوليصة التأمين - {{agentName}}</h4>
    <button type="button" class="close d-print-none" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="main-data-section card">
      <div class="card-body">
        <div class="header-section">
          <h5>بيانات الزبون</h5>
        </div>
        <div class="data-section">
          <div class="each-data">
            <label>رقم هوية الزبون</label>
            <span>{{modalInsurancePolicy.customer.identityNum}}</span>
          </div>
          <div class="each-data">
            <label>اسم الزبون</label>
            <span>{{modalInsurancePolicy.customer.username}}</span>
          </div>
          <div class="each-data">
            <label>عنوان الزبون</label>
            <span>{{modalInsurancePolicy.customer.Region.name}} / {{modalInsurancePolicy.customer.address}}</span>
          </div>
          <div class="each-data">
            <label>رقم الجوال</label>
            <span>{{modalInsurancePolicy.customer.jawwal1}} / {{modalInsurancePolicy.customer.jawwal2}}</span>
          </div>
        </div>
      </div>

    </div>

    <div class="main-data-section card">
      <div class="header-section">
        <h5>بيانات السيارة</h5>
      </div>
      <div class="data-section">
        <div class="each-data">
          <label>رقم السيارة</label>
          <span>{{modalInsurancePolicy.insurancePolicy.Car.carNumber}}</span>
        </div>
        <div class="each-data">
          <label>نوع وموديل السيارة</label>
          <span>{{modalInsurancePolicy.insurancePolicy.Car.CarType.name}}
            / {{modalInsurancePolicy.insurancePolicy.Car.CarModel.name}}</span>
        </div>
        <div class="each-data">
          <label>سنة التصنيع</label>
          <span>{{modalInsurancePolicy.insurancePolicy.Car.productionYear | date: 'yyyy'}}</span>
        </div>
        <div class="each-data">
          <label>رقم شصي السيارة</label>
          <span>{{modalInsurancePolicy.insurancePolicy.Car.serialNumber}}</span>
        </div>
      </div>
    </div>

      <div class="main-data-section card">
        <div class="header-section">
          <h5>بيانات البوليصة</h5>
          <div class="expire-date">
            <h6>تاريخ انتهاء البوليصة:</h6>
            <span>{{modalInsurancePolicy.insurancePolicy.expireDate | date:'dd-MM-yyyy'}}</span>
          </div>
        </div>
        <div class="data-section for-table">
          <div>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>الخدمة</th>
                  <th>عدد ايام التغطية</th>
                  <th>المورد</th>
                  <th>تكلفة الخدمة</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let service of modalInsurancePolicy.services;">
                  <td>{{service.Service.name}}</td>
                  <td>{{service.Service.coverageDays}}</td>
                  <td>{{service.Supplier.companyName}}</td>
                  <td>{{service.Service.cost}}</td>
                </tr>
              </tbody>
              <tr class="total-cost">
                <th colspan="3">التكلفة الاجمالية</th>
                <td>{{modalInsurancePolicy.insurancePolicy.totalPrice}} {{currency}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
  </div>
  <div class="modal-footer d-print-none">
    <button type="button" class="button-primary" (click)="printPage()">طباعة البوليصة</button>
  </div>
</ng-template>
