<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">خدمات أخرى - {{modalOtherService.otherService.name}}</h4>
  <button type="button" class="close d-print-none" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="main-data-section card">
    <div class="card-body">
      <div class="header-section">
        <h5>بيانات الزبون</h5>
      </div>
      <div class="data-section">
        <div class="each-data">
          <label>رقم هوية الزبون</label>
          <span>{{modalOtherService.customer.identityNum}}</span>
        </div>
        <div class="each-data">
          <label>اسم الزبون</label>
          <span>{{modalOtherService.customer.username}}</span>
        </div>
        <div class="each-data">
          <label>عنوان الزبون</label>
          <span>{{modalOtherService.customer.Region.name}} / {{modalOtherService.customer.address}}</span>
        </div>
        <div class="each-data">
          <label>رقم الجوال</label>
          <span>{{modalOtherService.customer.jawwal1}}
            <ng-container *ngIf="modalOtherService.customer.jawwal2">
              /
            </ng-container>
            {{modalOtherService.customer.jawwal2}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="main-data-section card">
    <div class="header-section">
      <h5>بيانات السيارة</h5>
    </div>
    <div class="data-section">
      <div class="each-data">
        <label>رقم السيارة</label>
        <span>{{modalOtherService.insurancePolicy.Car.carNumber}}</span>
      </div>
      <div class="each-data">
        <label>نوع وموديل السيارة</label>
        <span>{{modalOtherService.insurancePolicy.Car.CarType.name}}
          / {{modalOtherService.insurancePolicy.Car.CarModel.name}}</span>
      </div>
      <div class="each-data">
        <label>سنة التصنيع</label>
        <span>{{modalOtherService.insurancePolicy.Car.productionYear | date: 'yyyy'}}</span>
      </div>
      <div class="each-data">
        <label>رقم شصي السيارة</label>
        <span>{{modalOtherService.insurancePolicy.Car.serialNumber}}</span>
      </div>
    </div>
  </div>

  <div class="main-data-section card">
    <div class="header-section">
      <h5>بيانات الخدمة</h5>
    </div>
    <div class="data-section-2">
      <div class="each-data">
        <label>نوع الخدمة</label>
        <span>{{modalOtherService.otherService.serviceKind}}</span>
      </div>
      <div class="each-data">
        <label>حالة الملف</label>
        <span>{{modalOtherService.otherService.fileStatus}}</span>
      </div>
      <div class="each-data">
        <label>تاريخ الخدمة:</label>
        <span>{{modalOtherService.otherService.createdAt | date:'dd-MM-yyyy'}}</span>
      </div>
      <div class="each-data" style="width: 100%">
        <label>افادة الزبون</label>
        <span>{{modalOtherService.otherService.descCustomer}}</span>
      </div>
      <div class="each-data" style="width: 100%">
        <label>افادة المفتش</label>
        <span>{{modalOtherService.otherService.description}}</span>
      </div>
    </div>
  </div>

  <p class="condition">* شروط الوثائق مع الكتيب المرفق</p>
</div>
<div class="modal-footer d-print-none">
  <button type="button" class="button-primary" (click)="printPage()">طباعة الخدمة</button>
</div>
