<div id="main-container">
  <nav id="header" class="dont-print">
    <div class="nav-wrapper">
      <div class="navbar-logo">
        <a routerLink="/admin">
          <img src="../../../../../assets/logo-injad.png" alt="logo" width="160">
        </a>
        <a (click)="profilePop()">
          <fa-icon [icon]="faBarsIcon"></fa-icon>
        </a>
      </div>
      <div class="navbar-container">
        <div class="nav-profile-section">
          <div class="profile-section" [class.open-profile]="openDropdownMenu" (click)="openDropdownMenu = !openDropdownMenu">
            <img src="../../../../../../assets/profile.png" alt="صورة المستخدم"/>
            <p class="username">{{user.username}}</p>
            <fa-icon [icon]="openDropdownMenu ? angelUpIcon : angelDownIcon"></fa-icon>
          </div>
        </div>

        <div [class.open]="openDropdownMenu" class="custom-dropdown-menu">
          <ul>
            <li class="clickable" (click)="logout()">تسجيل الخروج</li>
          </ul>
        </div>

      </div>
    </div>
  </nav>
  <div id="main-content">
    <app-nav class="dont-print" [navData]="navData"></app-nav>
    <div id="page-container">
      <app-loader></app-loader>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
