<div id="main-container" class="d-print-none">
  <app-search-cars 
  (searchCustomerEvent)="searchCustomer($event)" 
  (submittedSearch)="searchCar($event)" 
  [customers]="customers"
  [spinner]="spinnerCustomer$" 
  (selectedCustomer)="getSelectedCustomer($event)"
  >
  </app-search-cars>

  <div class="page-content card">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-custom col-custom-1">رقم السيارة</div>
        <div class="col-custom col-custom-2">اسم صاحب السيارة</div>
        <div class="col-custom col-custom-3">نوع/موديل السيارة</div>
        <div class="col-custom col-custom-4">تاريخ تسجيل السيارة</div>
      </li>
      <ng-template [ngIf]="cars.length === 0">
        <li class="no-data" style="width: 100%;"  *ngFor="let one of [1] | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems:0}">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="cars.length > 0">
        <li *ngFor="let car of cars | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems: pagination.total};
         trackBy: trackById" class="table-row">
          <div class="col-custom col-custom-1 clickable underline-text" data-label="Car Number" (click)="open(car)">{{car.carNumber}}</div>
          <div class="col-custom col-custom-2" data-label="Customer Name">{{car.User.username}}</div>
          <div class="col-custom col-custom-3" data-label="Car Type/Model">{{car.CarType.name}}/{{car.CarModel.name}}</div>
          <div class="col-custom col-custom-4" data-label="Car Registration Date">{{ (car.createdAt | date: 'dd-MM-yyyy') }}</div>
        </li>
      </ng-template>
    </ul>
    <pagination-controls
      class="custom-pagination"
      (pageChange)="getPage($event)"
      [autoHide] = "true"
      previousLabel = ""
      nextLabel = ""
    ></pagination-controls>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>

</div>
