<div id="main-container">

  <app-search-insurance-policies
  (searchCustomerEvent)="searchCustomer($event)"
  [customers]="customers"
  (selectedCustomer)="getSelectedCustomer($event)"
  [spinnerCustomer]="spinnerCustomer$"

  (searchAgentEvent)="searchAgent($event)"
  [agents]="agents"
  (selectedAgent)="getSelectedAgent($event)"
  [spinnerAgent]="spinnerAgent$"
  
  (submittedSearch)="searchInsurancePolicy($event)">
  </app-search-insurance-policies>

  <div class="page-content card dont-print">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-custom col-custom-1">رقم البوليصة</div>
        <div class="col-custom col-custom-2">رقم السيارة</div>
        <div class="col-custom col-custom-3">اسم صاحب السيارة</div>
        <div class="col-custom col-custom-4">اسم الوكيل</div>
        <div class="col-custom col-custom-5">تاريخ انتهاء البوليصة</div>
        <div class="col-custom col-custom-6">التحكم</div>
      </li>
      <ng-template [ngIf]="insurancePolices.length === 0">
        <li class="no-data" style="width: 100%;"  *ngFor="let one of [1] | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems:0}">
          <p>لا يوجد بيانات!</p>
        </li>
      </ng-template>
      <ng-template [ngIf]="insurancePolices.length > 0">
        <li *ngFor="let insurancePolicy of insurancePolices | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: p, totalItems: pagination.total};
         trackBy: trackById" class="table-row">
          <div class="col-custom col-custom-1" data-label="Insurance Policy Id">{{insurancePolicy.id}}</div>
          <div class="col-custom col-custom-2" data-label="Customer Number">{{insurancePolicy.Car.carNumber}}</div>
          <div class="col-custom col-custom-3" data-label="Car Owner">{{insurancePolicy.Customer.username}}</div>
          <div class="col-custom col-custom-4" data-label="Agent Name">{{ insurancePolicy.Agent.companyName }}</div>
          <div class="col-custom col-custom-5" data-label="Insurance Policy Expire Date">{{ (insurancePolicy.expireDate | date: 'dd-MM-yyyy') }}</div>
          <div class="col-custom col-custom-6 control" data-label="Control">
            <button class="btn-primary" title="ملف البوليصة" (click)="open(insurancePolicy.id)">
              <i>
                <svg style="width: 1.4rem;" role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor" d="M176 216h160c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16H176c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16zm-16 80c0 8.84 7.16 16 16 16h160c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16H176c-8.84 0-16 7.16-16 16v16zm96 121.13c-16.42 0-32.84-5.06-46.86-15.19L0 250.86V464c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V250.86L302.86 401.94c-14.02 10.12-30.44 15.19-46.86 15.19zm237.61-254.18c-8.85-6.94-17.24-13.47-29.61-22.81V96c0-26.51-21.49-48-48-48h-77.55c-3.04-2.2-5.87-4.26-9.04-6.56C312.6 29.17 279.2-.35 256 0c-23.2-.35-56.59 29.17-73.41 41.44-3.17 2.3-6 4.36-9.04 6.56H96c-26.51 0-48 21.49-48 48v44.14c-12.37 9.33-20.76 15.87-29.61 22.81A47.995 47.995 0 0 0 0 200.72v10.65l96 69.35V96h320v184.72l96-69.35v-10.65c0-14.74-6.78-28.67-18.39-37.77z"></path>
                </svg>
              </i>
            </button>

            <button class="btn-primary flex-btn" title="الملاحق" (click)="goToEndorsements(insurancePolicy.id)">
              <span>({{insurancePolicy.Endorsements.length}})</span>
                <i>
                  <svg style="width: 1.4rem;" role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path fill="currentColor" d="M572.694 292.093L500.27 416.248A63.997 63.997 0 0 1 444.989 448H45.025c-18.523 0-30.064-20.093-20.731-36.093l72.424-124.155A64 64 0 0 1 152 256h399.964c18.523 0 30.064 20.093 20.73 36.093zM152 224h328v-48c0-26.51-21.49-48-48-48H272l-64-64H48C21.49 64 0 85.49 0 112v278.046l69.077-118.418C86.214 242.25 117.989 224 152 224z"></path>
                  </svg>
                </i>
            </button>

            <button class="btn-primary" title="تعديل بيانات بوليصة التأمين " (click)="goToInsurancePolicyEdit(insurancePolicy.id)">
              <i>
                <svg style="width: 1.4rem;" role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                  <path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"></path>
                </svg>
              </i>
            </button>

            <button class="btn-error" title="حذف بوليصة التأمين" (click)="deleteInsurancePolicy(insurancePolicy)">
              <i>
                <svg style="width: 1.2rem;" role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path>
                </svg>
              </i>
            </button>
          </div>
        </li>
      </ng-template>
    </ul>
    <pagination-controls
      class="custom-pagination"
      (pageChange)="getPage($event)"
      [autoHide] = "true"
      previousLabel = ""
      nextLabel = ""
    ></pagination-controls>
    <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="success" *ngIf="successMsg">{{successMsg}}</div>
  </div>

</div>
