@import 'shared';

:host {
  flex-grow: 7.9;
  height: min-content;
}
#main-container {
  padding: 5px 25px 25px 25px;
  background-color:#f3f3f3;
  min-height: max-content;

  @include pagination;

  .card{
    @include card;
  }

  .page-header{
    font-size: 17px;
    color: #000;
    width:100%;
    margin-bottom: 30px;
    text-align: right;
    font-weight: 700;

    p {
      margin:0;
    }
  }

  .add-user-container{
    width: 100%;
    min-height: 20%;

    form {
      display: flex;
      flex-direction: row;
      justify-self: center;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      height: 100%;

      .form-sec1,
      .form-sec2 {
        flex-basis: 40%;
      }
      .form-sec2 {
        flex-basis: 55%;
      }

      div.form-control-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;

        label{
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 10px;
        }

        .input-with-spinner{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          > input, select, textarea{
            flex-basis: 90%;
          }
        }
      }

      input, textarea, select, div.input{
        line-height: 22px;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        @include box-shadow(
        rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(60 66 87 / 16%) 0px 0px 0px 1px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px
        );
        &.hide{
          display: none;
        }
      }

      textarea {
        resize: vertical;
      }

      div.input {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        fa-icon {
          vertical-align: sub;
          cursor: pointer;
        }
      }

      div.alert{
        margin: 10px 2px;
        font-size: 0.85rem;
      }

      div.alert-danger{
        color: $mainRedColor;
      }

      .ng-valid[required], .ng-valid.required  {
        border-left: 5px solid $mainGreenColor;
      }

      .ng-invalid:not(form)  {
        border-left: 5px solid $mainRedColor;
      }


      div.btn-container{
        // margin-top: 14px;
        // margin-bottom: 14px;
        margin: 1px 0;
        flex-basis: 100%;

        button{
          @include button-primary;
        }
      }

      div.error{
        @include messageBox($mainRedColor);
      }
      div.success{
        @include messageBox($mainGreenColor);
      }
    }
  }

  .page-content{
    width: 100%;
    min-height: 80%;

    ul.responsive-table {
      margin:0;
      padding:0;

      li {
        border-radius: 3px;
        padding: 15px 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 15px;
        &.no-data{
          width:100%;
          >p{
            font-size: 19px;
            font-weight: 700;
            text-align: center;
            width: 100%;
          }
        }
      }
      .table-header {
        background-color: $mainBlueColor;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        font-weight: bold;
        color: #fff;
      }
      .table-row {
        background-color: #ffffff;
        @include box-shadow(0px 0px 9px 0px rgba(0,0,0,0.1));
      }
      div[class*=col-custom-]{
        // margin: auto;
        margin:0;
        text-align: center;
      }
      .col-custom-1 {
        flex-basis: 11%;
      }
      .col-custom-2 {
        flex-basis: 19%;
      }
      .col-custom-3 {
        flex-basis: 12%;
      }
      .col-custom-4 {
        flex-basis: 20%;
      }
      .col-custom-5 {
        flex-basis: 38%;
        text-align: center;
        &.control{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;

          button{
            margin-left: 14px;
            margin-right: 14px;
            $btnWidth: 50px;

            fa-icon{
              cursor: pointer;
              // margin-left: 10px;
              font-size: 20px;
              margin: auto;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: space-evenly;
              justify-content: center;
              align-items: stretch;
              margin: 6px;
            }

            &.btn-error{
              @include button-error;
              width: $btnWidth;
              margin: 0;
            }

            &.btn-primary{
              @include button-primary;
              width: $btnWidth;
              margin: 0;
            }
          }
        }
      }

      @media all and (max-width: 767px) {
        .table-header {
          display: none;
        }
        // .table-row{

        // }
        li {
          display: block;
        }
        .col-custom {
          flex-basis: 100%;
        }
        .col-custom {
          display: flex;
          padding: 10px 0;
          &:before {
            color: #6C7A89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: right;
          }
        }
      }
    }

    div.success{
      @include messageBox($mainGreenColor);
    }
  }

}
